old/xsd/OSCAL-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns="http://oscal.nist.gov/schema/core" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:common="http://oscal.nist.gov/schema/common" 
    targetNamespace="http://oscal.nist.gov/schema/core"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
    <!-- 
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
    -->
 
    <xsd:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="https://scap.nist.gov/schema/xhtml/2010/xhtml11.xsd">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">A simplified XHTML 1.1 modular schema driver that implements structural markup for embedding in XML data models.</xsd:documentation>
        </xsd:annotation>
    </xsd:import>
    
    <xsd:import namespace="http://oscal.nist.gov/schema/common" schemaLocation="OSCAL-common.xsd"></xsd:import>

    <xsd:element name="catalog">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="layerType">
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                        type="baseItemType"/>
                                    <!--
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                                            <xsd:alternative test="type='control'"
                                            type="catalogControlType"/>
                                        <xsd:alternative test="type='objective'"
                                            type="catalogObjectiveType"/>
                                    </xsd:element>
                                    -->
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="overlay">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="layerType">
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="base" type="baseType"/>
                        <!--
                        <xsd:element maxOccurs="1" minOccurs="1" name="baseline-impact"
                            type="baselineImpactType"/>
                        -->
                        <xsd:element maxOccurs="1" minOccurs="0" name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="item"
                                        type="layerItemType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="system">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="layerType">
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="base" type="baseType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="item"
                                        type="layerItemType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="assessment">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="layerType">
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="base" type="baseType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="item"
                                        type="assessmentItemType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="layerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">A general layer type; it is the basis for overlay type or system type, possibly others too.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier for the layer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The name of the layer.
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="version" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Version of the layer (optional).
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Design date of the layer (optional).
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="author">
                <xsd:annotation>
                    <xsd:documentation>Author(s) as persons or organizations and their contact information.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="contact-info" type="xhtml:xhtml.div.type"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" name="summary" type="xhtml:xhtml.div.type">
                <xsd:annotation>
                    <xsd:documentation>This summary 
may include, for example: (i) the security controls and control enhancements; (ii) an indication of which controls/enhancements are selected or not selected; (iii) the selected controls/enhancements including an 
overview of new supplemental guidance and parameter values; and (iv) references to applicable
laws, Executive Orders, directives, instructions, regulations, policies, or standards.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentation">
                <xsd:annotation>
                    <xsd:documentation>Documentation for the layer; URI for the document and/or the version may be provided.
</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="false">
                    <xsd:attribute name="URI" type="xsd:anyURI"/>
                    <xsd:attribute name="version" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="definitions">
                <xsd:annotation>
                    <xsd:documentation>Terms and definitions unique for this layer.  If there are no unique terms or definitions, please state it in this section.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="definition"
                            type="xhtml:xhtml.div.type"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
  
    <xsd:complexType name="propertyDefType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="property">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="minOccurs" type="xsd:int"/>
                    <xsd:attribute name="maxOccurs" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="propertyType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="attribute">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="subPropertyType">
                <xsd:annotation>
                    <xsd:documentation>use for simple properties; for complex properties, use property-ref.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="property-ref">
                <xsd:annotation>
                    <xsd:documentation>use reference to properties defined elsewhere.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="minOccurs" type="xsd:int"/>
                    <xsd:attribute name="maxOccurs" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="enumeration">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="value"
                            type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="subPropertyType">
        <xsd:complexContent>
            <xsd:extension base="propertyType">
                <xsd:attribute name="minOccurs" type="xsd:int"/>
                <xsd:attribute name="maxOccurs" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- 
    <xsd:complexType name="controlType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control, consists of a two-character family identifier plus the control number within the family.
                    For example, CP-9 is the ninth control in the Contingency Planning (CP) family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The title of the control.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="parent">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the parent control if this control is in fact an extension.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:token">
                            <xsd:attribute name="type" use="required">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="family"/>
                                        <xsd:enumeration value="control"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="statement">
                <xsd:annotation>
                    <xsd:documentation>The body of the control, also known as the control section, provides a concise statement of the specific security capabilities needed to protect a particular aspect of an information system.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="description"
                            type="xhtml:xhtml.div.type"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement"
                            type="controlStatementType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"
                            processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" type="statusType" use="optional"/>
    </xsd:complexType>
    -->
    <!--
    <xsd:complexType name="objectiveType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control statement, a concatenation of the Control Number, and any enclosing Control Enhancements and/or objectives in which the objective is embedded along with the specific list item for this objective appended.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="decision" type="xhtml:xhtml.div.type"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="objective" type="objectiveType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="potentialAssessment"
                type="potentialAssessmentsType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"
                            processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="statusType">
                    <xsd:enumeration value="withdrawn"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="overlayControlType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control, consists of a two-character family identifier plus the control number within the family.
                    For example, CP-9 is the ninth control in the Contingency Planning (CP) family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="layer-ref" type="xsd:token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The title of the control.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="rationale" type="rationaleType">
                <xsd:annotation>
                    <xsd:documentation>The explanation/rationale for the scope</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="related" type="relatedType">
                <xsd:annotation>
                    <xsd:documentation>The control associated with this scope and its association/relation type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tailoring" maxOccurs="1" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tailor" type="overlayControlTailoringType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" type="statusType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="overlayObjectiveType">
        <xsd:complexContent>
            <xsd:extension base="layerControlType">
                <xsd:sequence>
                    <xsd:element name="tailoring" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="tailor" type="overlayObjectiveTailoringType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="systemControlType">
        <xsd:complexContent>
            <xsd:extension base="layerControlType">
                <xsd:sequence>
                    <xsd:element name="tailoring">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="tailor" type="systemControlTailoringType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="layerControlType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control, consists of a two-character family identifier plus the control number within the family.
                    For example, CP-9 is the ninth control in the Contingency Planning (CP) family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="layer-ref" type="xsd:token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The title of the control.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="rationale" type="rationaleType">
                <xsd:annotation>
                    <xsd:documentation>The explanation/rationale for the scope</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="related" type="relatedType">
                <xsd:annotation>
                    <xsd:documentation>The control associated with this scope and its association/relation type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" type="statusType" use="optional"/>
    </xsd:complexType>
    -->
    <xsd:complexType name="baseType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="layer-ref" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="id" type="xsd:token" use="required"/>
                    <xsd:attribute name="version" type="xsd:string"/>
                    <xsd:attribute name="type" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="catalog"/>
                                <xsd:enumeration value="overlay"/>
                                <xsd:enumeration value="system"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="baselineImpactType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Low"/>
            <xsd:enumeration value="Moderate"/>
            <xsd:enumeration value="High"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="potentialAssessmentsType">
        <xsd:annotation>
            <xsd:documentation>The potential assessments associated with an 800-53A control objective.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="potential-assessment">
                <xsd:annotation>
                    <xsd:documentation>A potential assessment associated with the 800-53A objective.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="object" type="xsd:normalizedString">
                            <xsd:annotation>
                                <xsd:documentation>An object for this potential assessment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="method" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The method of the potential assessment.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:enumeration value="Examine"/>
                                <xsd:enumeration value="Interview"/>
                                <xsd:enumeration value="Test"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="statementType">
        <xsd:annotation>
            <xsd:documentation>The representation of a statement. It can be used for control/objective/etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control statement, a concatenation of the Control Number, and any enclosing Control Enhancements and/or statements in which the statement is along with the specific list item for this statment appended.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="assignment" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xhtml:xhtml.div.type"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement" type="statementType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tailoringType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">Tailoring type: contains dynamic properties related to tailoring.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="id" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>The machine usable identifier for a scope</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameterType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"
                            processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rationaleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="change" type="rationaleChangeType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="relatedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:token">
                <xsd:attribute name="type" type="relatedTypeType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="rationaleChangeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="supplemented"/>
            <xsd:enumeration value="modified"/>
            <xsd:enumeration value="scopedout"/>
            <xsd:enumeration value="compensating"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="relatedTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="compensating"/>
            <xsd:enumeration value="related"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="statusType">
        <xsd:annotation>
            <xsd:documentation>Indicates when a control has been withdrawn.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="withdrawn"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--
    <xsd:complexType name="assessmentStatementType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control statement, a concatenation of the Control Number, and any enclosing Control Enhancements and/or statements in which the statement is along with the specific list item for this statment appended.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="objective" type="objectiveType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement"
                type="assessmentStatementType"/>
        </xsd:sequence>
    </xsd:complexType>
    -->
    <xsd:simpleType name="itemEnumType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="control"/>
            <xsd:enumeration value="control-enhancement"/>
            <xsd:enumeration value="objective"/>
            <xsd:enumeration value="control-overlay"/>
            <xsd:enumeration value="objective-overlay"/>
            <xsd:enumeration value="control-system"/>
            <xsd:enumeration value="assessment"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="baseItemType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="type">
                <xsd:simpleType>
                    <xsd:union memberTypes="itemEnumType xsd:token"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the item (control/objective). Example: for a control for SP 800-53, it consists of a two-character family identifier plus the control number within the family; e.g.,  CP-9 is the ninth control in the Contingency Planning (CP) family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The title of the control.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="statement">
                <xsd:annotation>
                    <xsd:documentation>The body of the control, also known as the control section, provides a concise statement of the specific security capabilities needed to protect a particular aspect of an information system.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="description"
                            type="xhtml:xhtml.div.type"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement"
                            type="statementType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="common:linkType">
                <xsd:annotation>
                    <xsd:documentation>Link to other controls/items
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameterType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"
                            processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" type="statusType" use="optional"/>
    </xsd:complexType>
    <!--
    <xsd:complexType name="catalogControlType">
        <xsd:complexContent>
            <xsd:extension base="baseItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="statement">
                        <xsd:annotation>
                            <xsd:documentation>The body of the control, also known as the control section, provides a concise statement of the specific security capabilities needed to protect a particular aspect of an information system.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="description"
                                    type="xhtml:xhtml.div.type"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement"
                                    type="statementType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="catalogObjectiveType">
        <xsd:complexContent>
            <xsd:extension base="baseItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="statement">
                        <xsd:annotation>
                            <xsd:documentation>The body of the control, also known as the control section, provides a concise statement of the specific security capabilities needed to protect a particular aspect of an information system.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="description"
                                    type="xhtml:xhtml.div.type"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement"
                                    type="statementType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <!-
                    <xsd:element maxOccurs="1" minOccurs="0" name="decision"
                        type="xhtml:xhtml.div.type"/>
                    ->
                    <!- move it to properties, so now objectives and controls look the same in a catalog
                    <xsd:element maxOccurs="1" minOccurs="0" name="potentialAssessment"
                        type="potentialAssessmentsType"/>
                    ->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    -->
    
    <xsd:complexType name="layerItemType">
        <xsd:complexContent>
            <xsd:extension base="baseItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="rationale" type="rationaleType">
                        <xsd:annotation>
                            <xsd:documentation>The explanation/rationale for the scope</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tailoring" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="tailor" type="tailoringType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="assessmentItemType">
        <xsd:complexContent>
            <xsd:extension base="baseItemType">
                <xsd:sequence>
                    <!-- moved to base item
                    <xsd:element maxOccurs="1" minOccurs="1" name="statement" type="statementType"/>
                    -->
                    <xsd:element maxOccurs="1" minOccurs="0" name="assignment" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="object"
                        type="assessmentObjectType"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="method"
                        type="assessmentMethodType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="assessmentObjectType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="item">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="specifications"/>
                        <xsd:enumeration value="mechanisms"/>
                        <xsd:enumeration value="activities"/>
                        <xsd:enumeration value="individuals"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="statement" type="xhtml:xhtml.div.type"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="assessmentMethodType">
        <xsd:sequence>
            <xsd:element name="statement" type="xhtml:xhtml.div.type"/>
        </xsd:sequence>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="examine"/>
                    <xsd:enumeration value="interview"/>
                    <xsd:enumeration value="test"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="depth">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="basic"/>
                    <xsd:enumeration value="focused"/>
                    <xsd:enumeration value="comprehensive"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="coverage">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="basic"/>
                    <xsd:enumeration value="focused"/>
                    <xsd:enumeration value="comprehensive"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="parameterType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="value">
                <xsd:complexType>
                    <xsd:attribute name="unit" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xhtml:xhtml.div.type"
            />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>