schema/demo/mini-boolean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="boolean" type="xs:boolean">
    <xs:complexType>
        <xs:attribute name="flag" type="xs:boolean"/>
    </xs:complexType>
</xs:element>
    
    <xs:element name="flips">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
