schema/xml/oscal-profile.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal="http://csrc.nist.gov/ns/oscal/1.0"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0">
   <xs:include schemaLocation="oscal-catalog.xsd"/>
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.xsd"/>
   <xs:element name="profile">
      <xs:annotation>
         <xs:documentation>
            <b>Profile</b> In reference to a catalog (or other resource such as profile or framework), a selection
          and configuration of controls, maintained separately</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" ref="oscal:import"/>
            <xs:element minOccurs="0" ref="oscal:merge"/>
            <xs:element minOccurs="0" ref="oscal:modify"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="import">
      <xs:annotation>
         <xs:documentation>
            <b>Import resource</b> Designating a catalog, profile or other resource for controls</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:include"/>
            <xs:element minOccurs="0" ref="oscal:exclude"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:hrefAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="merge">
      <xs:annotation>
         <xs:documentation>
            <b>Merge controls</b> Merge controls in resolution</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:combine"/>
            <xs:choice minOccurs="0">
               <xs:element ref="oscal:as-is"/>
               <xs:element ref="oscal:custom"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="combine">
      <xs:annotation>
         <xs:documentation>
            <b>Combination rule</b> Whether and how to combine multiple (competing) versions of the same control</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="method" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:enumeration value="use-first"/>
                  <xs:enumeration value="merge"/>
                  <xs:enumeration value="keep"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="as-is">
      <xs:annotation>
         <xs:documentation>
            <b>Structure as-is; retain source structure</b> Structure the controls in resolution as they are structured in their source catalogs</xs:documentation>
      </xs:annotation>
      <xs:complexType/>
   </xs:element>
   <xs:element name="custom">
      <xs:annotation>
         <xs:documentation>
            <b>Customized structure for controls</b> Frame a structure wherein represented controls will be embedded in resolution</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:group ref="oscal:profileGroup"/>
               <xs:element ref="oscal:call"/>
               <xs:element ref="oscal:match"/>
            </xs:choice>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="profileGroup">
      <xs:sequence>
         <xs:element name="group">
            <xs:annotation>
               <xs:documentation>
                  <b>Group</b> A set of related controls or groups (of controls or groups)</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" ref="oscal:title"/>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                     <xs:group ref="oscal:profileGroup"/>
                     <xs:element ref="oscal:call"/>
                     <xs:element ref="oscal:match"/>
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:element name="modify">
      <xs:annotation>
         <xs:documentation>
            <b>Modify controls</b> Set parameters or emend controls in resolution</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:set-param"/>
            <xs:element ref="oscal:alter"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="include">
      <xs:annotation>
         <xs:documentation>
            <b>Include controls</b> Which controls and subcontrols to include from the resource (source catalog) being
          imported</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice>
            <xs:element ref="oscal:all"/>
            <xs:choice maxOccurs="unbounded">
               <xs:element ref="oscal:call"/>
               <xs:element ref="oscal:match"/>
            </xs:choice>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="all">
      <xs:annotation>
         <xs:documentation>
            <b>Include all</b> Include all controls from the imported resource (catalog)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attributeGroup ref="oscal:withSubContrlsAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="withSubContrlsAttr">
      <xs:attribute name="with-subcontrols">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="yes"/>
               <xs:enumeration value="no"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="withContrlAttr">
      <xs:attribute name="with-control">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="yes"/>
               <xs:enumeration value="no"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="call">
      <xs:annotation>
         <xs:documentation>
            <b>Call (control or subcontrol)</b> Call a control or subcontrol by its ID</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attributeGroup ref="oscal:withSubContrlsAttr"/>
         <xs:attribute name="control-id" type="xs:NCName"/>
         <xs:attributeGroup ref="oscal:withContrlAttr"/>
         <xs:attribute name="subcontrol-id" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="match">
      <xs:annotation>
         <xs:documentation>
            <b>Match controls and subcontrols by identifier</b> Select controls by (regular expression) match on ID</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attributeGroup ref="oscal:withSubContrlsAttr"/>
         <xs:attributeGroup ref="oscal:withContrlAttr"/>
         <xs:attribute name="pattern" use="required"/>
         <xs:attribute name="order">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:enumeration value="keep"/>
                  <xs:enumeration value="ascending"/>
                  <xs:enumeration value="descending"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="exclude">
      <xs:annotation>
         <xs:documentation>
            <b>Exclude controls</b> Which controls and subcontrols to exclude from the resource (source catalog) being
          imported</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice>
            <xs:element ref="oscal:match"/>
            <xs:element maxOccurs="unbounded" name="call">
               <xs:annotation>
                  <xs:documentation>
                     <b>Call (control or subcontrol)</b> Call a control or subcontrol by its ID</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="control-id" type="xs:NCName"/>
                  <xs:attribute name="subcontrol-id" type="xs:NCName"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="set-param">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter setting</b> Set a parameter's value or rewrite its label or description</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:label"/>
            <xs:element minOccurs="0" ref="oscal:desc"/>
            <xs:element minOccurs="0" ref="oscal:requirement"/>
            <xs:choice minOccurs="0">
               <xs:element ref="oscal:value"/>
               <xs:element ref="oscal:select"/>
            </xs:choice>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:link"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:part"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="param-id" use="required" type="xs:NMTOKEN"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="alter">
      <xs:annotation>
         <xs:documentation>
            <b>Alteration</b> Specifies changes to be made to an included control or subcontrol when a profile is
          resolved</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:remove"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:add"/>
         </xs:sequence>
         <xs:attribute name="control-id" type="xs:NCName"/>
         <xs:attribute name="subcontrol-id" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="remove">
      <xs:annotation>
         <xs:documentation>
            <b>Removal</b> Elements to be removed from a control or subcontrol, in resolution</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="class-ref" type="xs:NMTOKENS"/>
         <xs:attribute name="id-ref" type="xs:NCName"/>
         <xs:attribute name="item-name" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="add">
      <xs:annotation>
         <xs:documentation>
            <b>Addition</b> Element contents to be added to a control or subcontrols, in resolution</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:title"/>
            <xs:element ref="oscal:param"/>
            <xs:element ref="oscal:prop"/>
            <xs:element ref="oscal:part"/>
         </xs:choice>
         <xs:attribute name="position">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:enumeration value="before"/>
                  <xs:enumeration value="after"/>
                  <xs:enumeration value="starting"/>
                  <xs:enumeration value="ending"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
</xs:schema>
