schema/xml/oscal-catalog-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:oscal="http://csrc.nist.gov/ns/oscal/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0">
   <xs:include schemaLocation="oscal-prose-module.xsd"/>
   <!--OSCAL Control Catalog Schema-->
   <xs:element name="catalog">
      <xs:annotation>
         <xs:documentation>
            <b>Catalog: </b>A collection of controls</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:element minOccurs="0" ref="oscal:declarations"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:section"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:control"/>
            </xs:choice>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="declarations">
      <xs:annotation>
         <xs:documentation>
            <b>Declarations: </b>Either a reference to a declarations file, or a set of declarations</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>hypertext reference: </b>A link to a document or document fragment (actual, nominal or projected)</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="section">
      <xs:annotation>
         <xs:documentation>
            <b>Section: </b>Prose content, unstructured except as sections, set apart from controls or control groups</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:group ref="oscal:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:section"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            <b>Control group: </b>A group of controls, or of groups of controls</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:part"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:control"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control: </b>A structured information object representing a security control</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:subcontrol"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcontrol">
      <xs:annotation>
         <xs:documentation>
            <b>Subcontrol: </b>A control extension or enhancement</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:part"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title: </b>A title for display and navigation, exclusive of more specific properties</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property: </b>A value with a name, attributed to the containing control, subcontrol, part,
          or group</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="class" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter: </b> A parameter setting, to be propagated to points of insertion
      </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:label"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:desc"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:constraint"/>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal:value"/>
               <xs:element minOccurs="0" ref="oscal:select"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:part"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="depends-on" type="xs:IDREF">
            <xs:annotation>
               <xs:documentation>
                  <b>Depends on: </b>Another parameter invoking this one</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="label">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter label: </b>
        A placeholder for a missing value, in display
      </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter description: </b>Indicates and explains the purpose and use of a parameter</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="constraint">
      <xs:annotation>
         <xs:documentation>
            <b>Constraint: </b>A formal or informal expression of a constraint or test</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="test" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Constraint test: </b>A formal (executable) expression of a constraint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="value">
      <xs:annotation>
         <xs:documentation>
            <b>Value constraint: </b>Indicates a permissible value for a parameter or property</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select">
      <xs:annotation>
         <xs:documentation>
            <b>Selection: </b>Presenting a choice among alternatives</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:choice"/>
         </xs:sequence>
         <xs:attribute name="how-many" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Cardinality: </b>When selecting, a requirement such as one or more</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice">
      <xs:annotation>
         <xs:documentation>
            <b>Choice: </b>A value selection among several such options</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="part">
      <xs:annotation>
         <xs:documentation>
            <b>Part: </b>A partition or component of a control, subcontrol or part</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:group ref="oscal:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link: </b>
        A line or paragraph with a hypertext link
      </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>hypertext reference: </b>A link to a document or document fragment (actual, nominal or projected)</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="references">
      <xs:annotation>
         <xs:documentation>
            <b>References: </b>
        A group of reference descriptions
      </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:ref"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b>Reference: </b>
        A reference, with one or more citations to standards, related documents, or other
          resources
      </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:citation"/>
            <xs:group ref="oscal:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b>Citation: </b>Citation of a resource</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>hypertext reference: </b>A link to a document or document fragment (actual, nominal or projected)</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:choice>
         <xs:element ref="oscal:p"/>
         <xs:element ref="oscal:ul"/>
         <xs:element ref="oscal:ol"/>
         <xs:element ref="oscal:pre"/>
      </xs:choice>
   </xs:group>
</xs:schema>
