schema/xml/oscal-metadata-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:oscal="http://csrc.nist.gov/ns/oscal/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0">
   <xs:include schemaLocation="oscal-prose-module.xsd"/>
   <!--OSCAL Document Metadata Description-->
   <!--short name: oscal-metadata-->
   <xs:element name="metadata">
      <xs:annotation>
         <xs:documentation>
            <b>Publication metadata: </b>Information describing the publication or availability of this document</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:author"/>
            <xs:element minOccurs="0" ref="oscal:publication-date"/>
            <xs:element minOccurs="0" ref="oscal:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:resource"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:role"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:party"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
            <xs:element minOccurs="0" ref="oscal:extra-meta"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title: </b>The title under which this document is formally published</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="author">
      <xs:annotation>
         <xs:documentation>
            <b>Author: </b>A named author</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="publication-date">
      <xs:annotation>
         <xs:documentation>
            <b>Publication date: </b>The official date of publication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="version">
      <xs:annotation>
         <xs:documentation>
            <b>version: </b>Version information</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>ISO (standard) date: </b>Please use YYYY-MM-DD syntax.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="doc-id">
      <xs:annotation>
         <xs:documentation>
            <b>Document Identifier: </b>Any sort of document identifier, name, code, path or other indicator of where and how this document
      may be located, compared or validated. Given appropriate qualification via its type and rel, this value may point to the same or another version of the document.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property: </b>A property associated with the document</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="class" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Classification: </b>Indicating the property being assigned</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="party">
      <xs:annotation>
         <xs:documentation>
            <b>Party (organization or person): </b>A responsible entity, either singular (an organization or person) or collective (multiple persons)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:person"/>
            <xs:element minOccurs="0" ref="oscal:org"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Identifier: </b>A unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="role-id" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Role identifier: </b>References a role element defined in metadata.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person">
      <xs:annotation>
         <xs:documentation>
            <b>Person: </b>A person, with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:person-name"/>
            <xs:element minOccurs="0" ref="oscal:short-name"/>
            <xs:element minOccurs="0" ref="oscal:org-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:person-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:org-id"/>
            <xs:element minOccurs="0" ref="oscal:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:url"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="org">
      <xs:annotation>
         <xs:documentation>
            <b>Organization: </b>An organization or legal entity (not a person), with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:org-name"/>
            <xs:element minOccurs="0" ref="oscal:short-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:org-id"/>
            <xs:element minOccurs="0" ref="oscal:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:url"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-id">
      <xs:annotation>
         <xs:documentation>
            <b>Personal Identifier: </b>An identifier for a person (such as an ORCID) using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="org-id">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Identifier: </b>An identifier for an organization using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link: </b>
      A line or paragraph with a hypertext link
    </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:hash"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-name">
      <xs:annotation>
         <xs:documentation>
            <b>Person Name: </b>Full (legal) name of an individual</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="org-name">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Name: </b>Full (legal) name of an organization</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="full-name">
      <xs:annotation>
         <xs:documentation>
            <b>Full Name: </b>The complete (legal) name of an entity or role</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="short-name">
      <xs:annotation>
         <xs:documentation>
            <b>short-name: </b>A common name, short name or acronym</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="address">
      <xs:annotation>
         <xs:documentation>
            <b>Address: </b>A postal address</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:addr-line"/>
            <xs:element minOccurs="0" ref="oscal:city"/>
            <xs:element minOccurs="0" ref="oscal:state"/>
            <xs:element minOccurs="0" ref="oscal:postal-code"/>
            <xs:element minOccurs="0" ref="oscal:country"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="addr-line">
      <xs:annotation>
         <xs:documentation>
            <b>Address line: </b>A single line of an address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="city">
      <xs:annotation>
         <xs:documentation>
            <b>City: </b>City, town or geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="state">
      <xs:annotation>
         <xs:documentation>
            <b>State: </b>State, province or analogous geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="postal-code">
      <xs:annotation>
         <xs:documentation>
            <b>Postal Code: </b>Postal or ZIP code for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="country">
      <xs:annotation>
         <xs:documentation>
            <b>Country: </b>Country for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="email">
      <xs:annotation>
         <xs:documentation>
            <b>Email: </b>Email address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="phone">
      <xs:annotation>
         <xs:documentation>
            <b>Telephone: </b>Contact number by telephone</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="url">
      <xs:annotation>
         <xs:documentation>
            <b>URL: </b>URL for web site or Internet presence</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="notes">
      <xs:annotation>
         <xs:documentation>
            <b>Notes: </b>Any notes with further information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Description: </b>A short description</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="resource">
      <xs:annotation>
         <xs:documentation>
            <b>Resource: </b>A resource to inform or authenticate the present document.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:author"/>
            <xs:element minOccurs="0" ref="oscal:publication-date"/>
            <xs:element minOccurs="0" ref="oscal:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:link"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="hash">
      <xs:annotation>
         <xs:documentation>
            <b>Hash: </b>A document hash or other value subject to cryptographic authentication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="algorithm" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Hash algorithm: </b>Method by which a hash is derived</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="role">
      <xs:annotation>
         <xs:documentation>
            <b>Role: </b>Defining a role to be assigned to a party or agent</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element minOccurs="0" ref="oscal:short-name"/>
            <xs:element minOccurs="0" ref="oscal:desc"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Identifier: </b>A unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="extra-meta">
      <xs:annotation>
         <xs:documentation>
            <b>Extra metadata: </b>Container for (system-defined) metadata</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:meta-group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:meta"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta-group">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata group: </b>Custom- or application-defined annotated metadata.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:meta"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal:meta-group"/>
            <xs:element minOccurs="0" ref="oscal:notes"/>
         </xs:sequence>
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata field value: </b>Any customized or specialized metadata value.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:choice>
         <xs:element ref="oscal:p"/>
         <xs:element ref="oscal:ul"/>
         <xs:element ref="oscal:ol"/>
         <xs:element ref="oscal:pre"/>
      </xs:choice>
   </xs:group>
</xs:schema>
