schema/xml/oscal-catalog.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal="http://csrc.nist.gov/ns/oscal/1.0"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0">
   <xs:include schemaLocation="oscal-declarations.xsd"/>
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.xsd"/>
   <xs:element name="catalog" type="oscal:catalog-contents">
      <xs:annotation>
         <xs:documentation>
            <b>Catalog</b> A (canonical) control catalog: a structured set of security controls</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="catalog-contents">
      <xs:sequence>
         <xs:element ref="oscal:title"/>
         <xs:element minOccurs="0" ref="oscal:declarations"/>
         <xs:element minOccurs="0" ref="oscal:references"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:section"/>
            <xs:element ref="oscal:group"/>
            <xs:element ref="oscal:control"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="section">
      <xs:annotation>
         <xs:documentation>
            <b>Section</b> A partition within a catalog or section (prose text not controls)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:title"/>
            <xs:group ref="oscal:prose"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:section"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            <b>Group</b> A set of related controls or groups (of controls or groups)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:prop"/>
               <xs:element ref="oscal:part"/>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
               <xs:element ref="oscal:group"/>
               <xs:element ref="oscal:control"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control</b> A structured information object representing a security control</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:prop"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:part"/>
               <xs:element ref="oscal:subcontrol"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcontrol">
      <xs:annotation>
         <xs:documentation>
            <b>Control extension</b> An associated or dependent control object; an enhancement to a control</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:prop"/>
               <xs:element ref="oscal:part"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="part" type="oscal:asPart">
      <xs:annotation>
         <xs:documentation>
            <b>Part</b> A partition, <q xmlns="http://csrc.nist.gov/ns/oscal/1.0">piece</q> or section of a control, subcontrol, component or part</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="asPart">
      <xs:sequence>
         <xs:element minOccurs="0" ref="oscal:title"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:param"/>
            <xs:element ref="oscal:prop"/>
         </xs:choice>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal:prose"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:link"/>
            <xs:element ref="oscal:part"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="oscal:optionalClass"/>
   </xs:complexType>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title</b> A fallback for display and navigation, exclusive of more specific properties</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:q"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link</b> A line or paragraph with a hypertext link</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:relAttr"/>
         <xs:attributeGroup ref="oscal:hrefAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter</b> A parameter setting, to be propagated to points of insertion</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:label"/>
            <xs:element minOccurs="0" ref="oscal:desc"/>
            <xs:element minOccurs="0" ref="oscal:requirement"/>
            <xs:choice minOccurs="0">
               <xs:element ref="oscal:value"/>
               <xs:element ref="oscal:select"/>
            </xs:choice>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
         <xs:attribute name="depends-on" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter description</b> Indicates and explains the purpose and use of a parameter</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="label" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter label</b> A placeholder for a missing value, in display</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="requirement"><!--No description found for requirement-->
      <xs:complexType mixed="true">
         <xs:attribute name="test"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property</b> A value with a name, attributed to the containing control, subcontrol, component, part,
          or group</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal:asProp"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="asProp">
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="oscal:optionalClass"/>
   </xs:attributeGroup>
   <xs:group name="prose">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:p"/>
            <xs:element ref="oscal:ul"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:pre"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="references">
      <xs:annotation>
         <xs:documentation>
            <b>References</b> A group of reference descriptions</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:ref"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:link"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b>Reference</b> A reference, with one or more citations to standards, related documents, or other
          resources</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:citation"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:link"/>
            <xs:group ref="oscal:prose"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b>Citation</b> Citation of a resource</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p" type="oscal:asP">
      <xs:annotation>
         <xs:documentation>
            <b>Paragraph</b> Running text: a paragraph or paragraph fragment</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="asP" mixed="true">
      <xs:group ref="oscal:whatnot"/>
   </xs:complexType>
   <xs:element name="pre">
      <xs:annotation>
         <xs:documentation>
            <b>Preformatted text</b> Retains whitespace in display</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:annotation>
         <xs:documentation>
            <b>Ordered List</b> Appears with numbering in ordinal position</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:annotation>
         <xs:documentation>
            <b>List item</b> An item demarcated with a bullet or numerator</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:whatnot"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:ul"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:annotation>
         <xs:documentation>
            <b>Unordered list</b> A series of items kept in order but without indicators of sequence; likely bulleted</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:group name="whatnot">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:semantical"/>
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:q"/>
            <xs:element ref="oscal:code"/>
            <xs:element ref="oscal:em"/>
            <xs:element ref="oscal:strong"/>
            <xs:element ref="oscal:b"/>
            <xs:element ref="oscal:i"/>
            <xs:element ref="oscal:sub"/>
            <xs:element ref="oscal:sup"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:annotation>
         <xs:documentation>
            <b>Quoted text</b> An inline segment to appear within quotation marks</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:code"/>
            <xs:element ref="oscal:em"/>
            <xs:element ref="oscal:i"/>
            <xs:element ref="oscal:strong"/>
            <xs:element ref="oscal:sub"/>
            <xs:element ref="oscal:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:annotation>
         <xs:documentation>
            <b>Code</b> Inline code</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:annotation>
         <xs:documentation>
            <b>Emphasis</b> Rhetorical emphasis as typically indicated by a font shift</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong"><!--No description found for strong-->
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:annotation>
         <xs:documentation>
            <b>Italics</b> Typographical shift to italics</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:annotation>
         <xs:documentation>
            <b>Bold</b> Typographical shift to bold</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:annotation>
         <xs:documentation>
            <b>Subscript</b> Subscripted text</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:annotation>
         <xs:documentation>
            <b>Superscript</b> Superscripted text</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="span">
      <xs:annotation>
         <xs:documentation>
            <b>Span</b> Generic inline container</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:annotation>
         <xs:documentation>
            <b>Anchor</b> An HTML-style anchor (inline linking element)</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:q"/>
            <xs:element ref="oscal:code"/>
            <xs:element name="em">
               <xs:annotation>
                  <xs:documentation>
                     <b>Emphasis</b> Rhetorical emphasis as typically indicated by a font shift</xs:documentation>
               </xs:annotation>
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="semantical">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:insert"/>
            <xs:element ref="oscal:select"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter insertion</b> A <q xmlns="http://csrc.nist.gov/ns/oscal/1.0">call</q> (reference) to a parameter for dynamic content transclusion</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="param-id" use="required" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select"><!--No description found for select-->
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:choice"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="how-many">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:enumeration value="one or more "/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice"><!--No description found for choice-->
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:insert"/>
            <xs:group ref="oscal:mix"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="idAttr">
      <xs:attribute name="id" use="required" type="xs:ID"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="requiredClass">
      <xs:attribute name="class" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="optionalClass">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
