schema/xml/oscal-profile-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal-profile="http://csrc.nist.gov/ns/oscal/1.0"
           xmlns:oscal-prose="http://csrc.nist.gov/ns/oscal/1.0"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0">
   <xs:element name="metadata">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-profile:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:author"/>
            <xs:element minOccurs="0" ref="oscal-profile:publication-date"/>
            <xs:element minOccurs="0" ref="oscal-profile:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:resource"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:role"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:party"/>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
            <xs:element minOccurs="0" ref="oscal-profile:extra-meta"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="publication-date">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="party">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:person"/>
            <xs:element minOccurs="0" ref="oscal-profile:org"/>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="role-id" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="person">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:person-name"/>
            <xs:element minOccurs="0" ref="oscal-profile:short-name"/>
            <xs:element minOccurs="0" ref="oscal-profile:org-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:person-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:org-id"/>
            <xs:element minOccurs="0" ref="oscal-profile:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:url"/>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="org">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:org-name"/>
            <xs:element minOccurs="0" ref="oscal-profile:short-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:org-id"/>
            <xs:element minOccurs="0" ref="oscal-profile:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:url"/>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-id">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="org-id">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-name">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="org-name">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="short-name">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="address">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:addr-line"/>
            <xs:element minOccurs="0" ref="oscal-profile:city"/>
            <xs:element minOccurs="0" ref="oscal-profile:state"/>
            <xs:element minOccurs="0" ref="oscal-profile:postal-code"/>
            <xs:element minOccurs="0" ref="oscal-profile:country"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="addr-line">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="city">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="state">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="postal-code">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="country">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="email">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="phone">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="url">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="role">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:element minOccurs="0" ref="oscal-profile:short-name"/>
            <xs:element minOccurs="0" ref="oscal-profile:desc"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="extra-meta">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:meta-group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:meta"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta-group">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:meta"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:meta-group"/>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
         <xs:attribute name="term" type="xs:string"/>
         <xs:attribute name="type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="term" type="xs:string"/>
         <xs:attribute name="type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="resource">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:author"/>
            <xs:element minOccurs="0" ref="oscal-profile:format"/>
            <xs:element minOccurs="0" ref="oscal-profile:description"/>
            <xs:element minOccurs="0" ref="oscal-profile:date"/>
            <xs:element minOccurs="0" ref="oscal-profile:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:prop"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:hlink"/>
               <xs:element minOccurs="0" ref="oscal-profile:base64"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-profile:notes"/>
         </xs:sequence>
         <xs:attribute name="rel" type="xs:string"/>
         <xs:attribute name="media-type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="author">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="doc-id">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="notes">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="hlink">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:hash"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required"/>
         <xs:attribute name="media-type" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="hash">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="algorithm" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="description">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="version">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="format">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="date">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="base64">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="filename" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref-list">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:ref"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:citation"/>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
         <xs:attribute name="href" type="xs:anyURI"/>
         <xs:attribute name="rel" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="class" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:label"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:desc"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:constraint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:guideline"/>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-profile:value"/>
               <xs:element minOccurs="0" ref="oscal-profile:select"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:link"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required"/>
         <xs:attribute name="class" type="xs:string"/>
         <xs:attribute name="depends-on" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="label">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
         <xs:attribute name="id" type="xs:ID"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="constraint">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="test" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="guideline">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="value">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:choice"/>
         </xs:sequence>
         <xs:attribute name="how-many" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-profile:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="part">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:prop"/>
            <xs:group ref="oscal-profile:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:link"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID"/>
         <xs:attribute name="class" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="profile">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-profile:title"/>
            <xs:element minOccurs="0" ref="oscal-profile:metadata"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:import"/>
            <xs:element minOccurs="0" ref="oscal-profile:merge"/>
            <xs:element minOccurs="0" ref="oscal-profile:modify"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="import">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:include"/>
            <xs:element minOccurs="0" ref="oscal-profile:exclude"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="merge">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:combine"/>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-profile:as-is"/>
               <xs:element minOccurs="0" ref="oscal-profile:custom"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="combine">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="method" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="as-is" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="custom">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:call"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:match"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:call"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:match"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="modify">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:set-param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:alter"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="include">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-profile:all"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:call"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:match"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="all">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="with-subcontrols" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="call">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="control-id" type="xs:NCName"/>
         <xs:attribute name="subcontrol-id" type="xs:NCName"/>
         <xs:attribute name="with-control" type="xs:NCName"/>
         <xs:attribute name="with-subcontrols" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="match">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="pattern" type="xs:string"/>
         <xs:attribute name="order" type="xs:string"/>
         <xs:attribute name="with-control" type="xs:NCName"/>
         <xs:attribute name="with-subcontrols" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="exclude">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:call"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:match"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="set-param">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:label"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:desc"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:constraint"/>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-profile:value"/>
               <xs:element minOccurs="0" ref="oscal-profile:select"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:part"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required"/>
         <xs:attribute name="class" type="xs:string"/>
         <xs:attribute name="depends-on" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="alter">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:remove"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:add"/>
         </xs:sequence>
         <xs:attribute name="control-id" type="xs:NCName"/>
         <xs:attribute name="subcontrol-id" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="remove">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="class-ref" type="xs:NMTOKENS"/>
         <xs:attribute name="id-ref" type="xs:NCName"/>
         <xs:attribute name="item-name" type="xs:NMTOKENS"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="add">
      <xs:annotation>
         <xs:documentation>
            <b/>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-profile:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-profile:part"/>
            <xs:element minOccurs="0" ref="oscal-profile:ref-list"/>
         </xs:sequence>
         <xs:attribute name="position" type="xs:string"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:choice>
         <xs:element ref="oscal-prose:h1"/>
         <xs:element ref="oscal-prose:h2"/>
         <xs:element ref="oscal-prose:h3"/>
         <xs:element ref="oscal-prose:h4"/>
         <xs:element ref="oscal-prose:h5"/>
         <xs:element ref="oscal-prose:h6"/>
         <xs:element ref="oscal-prose:p"/>
         <xs:element ref="oscal-prose:ul"/>
         <xs:element ref="oscal-prose:ol"/>
         <xs:element ref="oscal-prose:pre"/>
         <xs:element ref="oscal-prose:table"/>
      </xs:choice>
   </xs:group>
   <xs:element name="h1">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h2">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h3">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h4">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h5">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h6">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:everything-inline"/>
            <xs:element ref="oscal-prose:ol"/>
            <xs:element ref="oscal-prose:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="table">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:tr"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tr">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element maxOccurs="unbounded" ref="oscal-prose:td"/>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:th"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="th">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="td">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="everything-inline">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:group ref="oscal-prose:special"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal-prose:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:mix"/>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element name="em">
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal-prose:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="special">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:insert"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:complexType>
         <xs:attribute name="param-id" use="required" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="requiredClass">
      <xs:attribute name="class" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="optionalClass">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
