working/lib/XSD/oscal-documented.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal="http://scap.nist.gov/schema/oscal"
           elementFormDefault="qualified"
           targetNamespace="http://scap.nist.gov/schema/oscal">
   <xs:complexType name="collection-contents">
      <xs:sequence>
         <xs:element ref="oscal:title"/>
         <xs:element minOccurs="0" ref="oscal:declarations"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:section"/>
            <xs:element ref="oscal:group"/>
            <xs:element ref="oscal:control"/>
         </xs:choice>
         <xs:element minOccurs="0" ref="oscal:references"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="catalog" type="oscal:collection-contents">
      <xs:annotation>
         <xs:documentation>
            <b>Catalog</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="collection" type="oscal:collection-contents">
      <xs:annotation>
         <xs:documentation>
            <b>Collection</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="declarations">
      <xs:annotation>
         <xs:documentation>
            <b>Declarations</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="oscal:decls">
               <xs:attributeGroup ref="oscal:hrefAttr"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="decls">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="oscal:declare-property"/>
         <xs:element ref="oscal:declare-part"/>
         <xs:element ref="oscal:declare-p"/>
         <xs:element ref="oscal:declare-link"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="declare-property">
      <xs:annotation>
         <xs:documentation>
            <b>Property declaration</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
            <xs:element minOccurs="0" ref="oscal:identifier"/>
            <xs:choice>
               <xs:element ref="oscal:regex"/>
               <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal:value"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:requiredClass"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="identifier">
      <xs:annotation>
         <xs:documentation>
            <b>Identifier constraint</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType/>
   </xs:element>
   <xs:element name="declare-part">
      <xs:annotation>
         <xs:documentation>
            <b>Part declaration</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:requiredClass"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="declare-p">
      <xs:annotation>
         <xs:documentation>
            <b>Paragraph declaration</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:requiredClass"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="declare-link">
      <xs:annotation>
         <xs:documentation>
            <b>Link declaration</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:requiredClass"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="singleton">
      <xs:annotation>
         <xs:documentation>
            <b>Singleton constraint</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType/>
   </xs:element>
   <xs:element name="required">
      <xs:annotation>
         <xs:documentation>
            <b>Requirement constraint</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType/>
   </xs:element>
   <xs:element name="regex" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Regular expression constraint</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:group name="value">
      <xs:sequence>
         <xs:element name="value">
            <xs:annotation>
               <xs:documentation>
                  <b>Value constraint</b> 
               </xs:documentation>
            </xs:annotation>
            <xs:complexType mixed="true">
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="oscal:inherit"/>
                  <xs:element ref="oscal:autonum"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:element name="inherit">
      <xs:annotation>
         <xs:documentation>
            <b>Inherited value constraint</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="from"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="autonum" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Autonumbered (generated) value</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="section">
      <xs:annotation>
         <xs:documentation>
            <b>Division</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:title"/>
            <xs:group ref="oscal:prose"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:section"/>
               <xs:element ref="oscal:group"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            <b>Group</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:group ref="oscal:control-components"/>
            <xs:choice maxOccurs="unbounded">
               <xs:element ref="oscal:group"/>
               <xs:element ref="oscal:control"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="control-components">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:prop"/>
            <xs:group ref="oscal:anyKindofPart"/>
            <xs:element ref="oscal:link"/>
            <xs:group ref="oscal:prose"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:param"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:group ref="oscal:control-components"/>
               <xs:element ref="oscal:subcontrol"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcontrol">
      <xs:annotation>
         <xs:documentation>
            <b>Control enhancement</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:param"/>
            <xs:group ref="oscal:control-components"/>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="anyKindofPart">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:part"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="part">
      <xs:annotation>
         <xs:documentation>
            <b>Part</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:group ref="oscal:control-components"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:q"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:relAttr"/>
         <xs:attributeGroup ref="oscal:hrefAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:desc"/>
            <xs:group ref="oscal:paramValue"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter description</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="paramValue">
      <xs:sequence>
         <xs:element name="value" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Value constraint</b> 
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal:requiredClass"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:ul"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:p"/>
            <xs:element ref="oscal:pre"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="references">
      <xs:annotation>
         <xs:documentation>
            <b>References</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:ref"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b>Reference</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:std"/>
            <xs:element ref="oscal:citation"/>
            <xs:group ref="oscal:prose"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="std">
      <xs:annotation>
         <xs:documentation>
            <b>Standard</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b>Citation</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:annotation>
         <xs:documentation>
            <b>Paragraph</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:whatnot"/>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:annotation>
         <xs:documentation>
            <b>Preformatted text</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:annotation>
         <xs:documentation>
            <b>Ordered List</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:annotation>
         <xs:documentation>
            <b>List item</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:whatnot"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:annotation>
         <xs:documentation>
            <b>Unordered list</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:group name="whatnot">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:semantical"/>
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:q"/>
            <xs:element ref="oscal:code"/>
            <xs:element ref="oscal:em"/>
            <xs:element ref="oscal:i"/>
            <xs:element ref="oscal:b"/>
            <xs:element ref="oscal:sub"/>
            <xs:element ref="oscal:sup"/>
            <xs:element ref="oscal:span"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="em">
      <xs:annotation>
         <xs:documentation>
            <b>Emphasis</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:annotation>
         <xs:documentation>
            <b>Italics</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:annotation>
         <xs:documentation>
            <b>Bold</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Subscript</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="sup" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Superscript</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="a">
      <xs:annotation>
         <xs:documentation>
            <b>Anchor</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:q"/>
            <xs:element ref="oscal:code"/>
            <xs:element name="em" type="xs:string">
               <xs:annotation>
                  <xs:documentation>
                     <b>Emphasis</b> 
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="q" type="xs:string">
      <xs:annotation>
         <xs:documentation>
            <b>Quoted text</b> 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="code">
      <xs:annotation>
         <xs:documentation>
            <b>Code</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attribute name="type"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="span">
      <xs:annotation>
         <xs:documentation>
            <b>Span</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:mix"/>
            <xs:element ref="oscal:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="semantical">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:withdrawn"/>
            <xs:element ref="oscal:inject"/>
            <xs:element ref="oscal:select"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="withdrawn">
      <xs:annotation>
         <xs:documentation>
            <b>Withdrawn</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="inject">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter injection</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attribute name="param-id" use="required" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select">
      <xs:annotation>
         <xs:documentation>
            <b>Selection</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:choice"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice">
      <xs:annotation>
         <xs:documentation>
            <b>Choice</b> 
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:inject"/>
            <xs:group ref="oscal:mix"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="idAttr">
      <xs:attribute name="id" type="xs:ID"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="requiredClass">
      <xs:attribute name="class" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="optionalClass">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="contextAttr">
      <xs:attribute name="context" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="relAttr">
      <xs:attribute name="rel"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
