xml/schema/oscal-ssp-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal-ssp="urn:OSCAL-SSP-metaschema"
           xmlns:oscal-prose="urn:OSCAL-SSP-metaschema"
           elementFormDefault="qualified"
           targetNamespace="urn:OSCAL-SSP-metaschema"><!--OSCAL System Security Plan (SSP) Format--><!--short name: oscal-ssp--><!--The OSCAL Control SSP format can be used to describe the information typically specified in a FedRAMP system security plan. The root of the Control Catalog format is system_security_plan.--><!--An XML Schema is provided for the OSCAL SSP XML model.-->
   <xs:element name="system-security-plan">
      <xs:annotation>
         <xs:documentation>
            <b>System Security Plan (SSP): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:metadata"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:import"/>
            <xs:element minOccurs="0" ref="oscal-ssp:system-characteristics"/>
            <xs:element minOccurs="0" ref="oscal-ssp:system-implementation"/>
            <xs:element minOccurs="0" ref="oscal-ssp:control-implementation"/>
            <xs:element minOccurs="0" ref="oscal-ssp:references"/>
            <xs:element minOccurs="0" ref="oscal-ssp:attachment"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="system-characteristics">
      <xs:annotation>
         <xs:documentation>
            <b>System Characteristics: </b>Contains the characteristics of the system, such as its name, purpose, and
			security impact level.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:system-id"/>
            <xs:element minOccurs="1" ref="oscal-ssp:system-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:system-name-short"/>
            <xs:element minOccurs="0" ref="oscal-ssp:description"/>
            <xs:element minOccurs="1" ref="oscal-ssp:security-sensitivity-level"/>
            <xs:element minOccurs="0" ref="oscal-ssp:system-information"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-impact-level"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-eauth"/>
            <xs:element minOccurs="0" ref="oscal-ssp:status"/>
            <xs:element minOccurs="0" ref="oscal-ssp:status-other-description"/>
            <xs:element minOccurs="0" ref="oscal-ssp:deployment-model"/>
            <xs:element minOccurs="0" ref="oscal-ssp:deployment-model-other-description"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:service-model"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:service-model-other-description"/>
            <xs:element minOccurs="0" ref="oscal-ssp:leveraged-authorizations"/>
            <xs:element minOccurs="0" ref="oscal-ssp:authorization-boundary"/>
            <xs:element minOccurs="0" ref="oscal-ssp:network-architecture"/>
            <xs:element minOccurs="0" ref="oscal-ssp:data-flow"/>
            <xs:element minOccurs="0" ref="oscal-ssp:users"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="system-id">
      <xs:annotation>
         <xs:documentation>
            <b>System Identification: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="system-name">
      <xs:annotation>
         <xs:documentation>
            <b>System Name (Full): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="system-name-short">
      <xs:annotation>
         <xs:documentation>
            <b>System Name (Short): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="description">
      <xs:annotation>
         <xs:documentation>
            <b>Description: </b>A free-text description of the system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="security-sensitivity-level">
      <xs:annotation>
         <xs:documentation>
            <b>: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="system-information">
      <xs:annotation>
         <xs:documentation>
            <b>System Information: </b>Contains details about all types of information stored, processed, or
			transmitted by the system, such as privacy information, and NIST 800-60 information
			types.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:information-type"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:designations"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="designations">
      <xs:annotation>
         <xs:documentation>
            <b>System Information Designations: </b>Used to enumerate all special information type designations that may be required by a specific organization or compliance regiem, such as privacy impact information (PII), or payment card information (PCI).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:designation"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="designation">
      <xs:annotation>
         <xs:documentation>
            <b>System Information Designation: </b>Used when a specific organization or compliance regiem requires certain information types to be explicitly cited, such as privacy impact information (PII), or payment card information (PCI).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element minOccurs="0" ref="oscal-ssp:declaration"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:qualifiers"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="declaration" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>
            <b>Declaration: </b>Identifies whether a specific designation applies to this system.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="qualifiers">
      <xs:annotation>
         <xs:documentation>
            <b>Information Designation Qualifiers: </b>A list of questions about the system that contribute to the establishment of a designation, such as the FedRAMP privacy threshold analysis questions.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:qualifier"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="qualifier">
      <xs:annotation>
         <xs:documentation>
            <b>Individual Information Designation Qualifier: </b>An individual questions about the system that contributes to the establishment of a designation, such as a FedRAMP privacy threshold analysis question.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:qual-question"/>
            <xs:element minOccurs="0" ref="oscal-ssp:qual-response"/>
            <xs:element minOccurs="0" ref="oscal-ssp:qual-notes"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="qual-question">
      <xs:annotation>
         <xs:documentation>
            <b>Qualifier Question: </b>A question that must be answered about this system.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="qual-response" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>
            <b>Qualifier Question Response: </b>The response to the question.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="qual-notes">
      <xs:annotation>
         <xs:documentation>
            <b>Qualifier Question Response Notes: </b>Additional information about the response to the question.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="information-type">
      <xs:annotation>
         <xs:documentation>
            <b>Information Type: </b>Contains details about one type of information stored, processed, or
			transmitted by the system, such as privacy information, and NIST 800-60 information
			types.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:description"/>
            <xs:element minOccurs="0" ref="oscal-ssp:confidentiality-impact"/>
            <xs:element minOccurs="0" ref="oscal-ssp:integrity-impact"/>
            <xs:element minOccurs="0" ref="oscal-ssp:availability-impact"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="nist-id" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>NIST 800-60 Information Type Identifier: </b>Pointer to the information type in NIST SP 800-60.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="confidentiality-impact">
      <xs:annotation>
         <xs:documentation>
            <b>Confidentiality Impact Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:base"/>
            <xs:element minOccurs="0" ref="oscal-ssp:selected"/>
            <xs:element minOccurs="0" ref="oscal-ssp:adjustment-justification"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="integrity-impact">
      <xs:annotation>
         <xs:documentation>
            <b>Integrity Impact Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:base"/>
            <xs:element minOccurs="0" ref="oscal-ssp:selected"/>
            <xs:element minOccurs="0" ref="oscal-ssp:adjustment-justification"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="availability-impact">
      <xs:annotation>
         <xs:documentation>
            <b>Availability Impact Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:base"/>
            <xs:element minOccurs="0" ref="oscal-ssp:selected"/>
            <xs:element minOccurs="0" ref="oscal-ssp:adjustment-justification"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="base">
      <xs:annotation>
         <xs:documentation>
            <b>Base Level (Confidentiality, Integrity, or Availability): </b>The prescribed base (Confidentiality, Integrity, or Availability) security
			impact level.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="selected">
      <xs:annotation>
         <xs:documentation>
            <b>Selected Level (Confidentiality, Integrity, or Availability): </b>The selected (Confidentiality, Integrity, or Availability) security impact
			level.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="adjustment-justification">
      <xs:annotation>
         <xs:documentation>
            <b>Adjustment Justification: </b>If the selected security level is different from the base security level, this
			contains the justificaiton for the change.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-impact-level">
      <xs:annotation>
         <xs:documentation>
            <b>Security Impact Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:security-objective-confidentiality"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-objective-integrity"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-objective-availability"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="security-objective-confidentiality">
      <xs:annotation>
         <xs:documentation>
            <b>Security Objective (Confidentiality): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-objective-integrity">
      <xs:annotation>
         <xs:documentation>
            <b>Security Objective (Integrity): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-objective-availability">
      <xs:annotation>
         <xs:documentation>
            <b>Security Objective (Availability): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-eauth">
      <xs:annotation>
         <xs:documentation>
            <b>Security Electronic Authetication Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:security-auth-ial"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-auth-aal"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-auth-fal"/>
            <xs:element minOccurs="0" ref="oscal-ssp:security-eauth-level"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="security-auth-ial">
      <xs:annotation>
         <xs:documentation>
            <b>Security Authentication (Identity Assurance Level): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-auth-aal">
      <xs:annotation>
         <xs:documentation>
            <b>Security Authentication (Authenticator Assurance Level): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-auth-fal">
      <xs:annotation>
         <xs:documentation>
            <b>Security Authentication (Federation Assurance Level): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="security-eauth-level">
      <xs:annotation>
         <xs:documentation>
            <b>Security eAuthentication Level: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="status">
      <xs:annotation>
         <xs:documentation>
            <b>Status: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="status-other-description">
      <xs:annotation>
         <xs:documentation>
            <b>Status Description (if Other): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="deployment-model">
      <xs:annotation>
         <xs:documentation>
            <b>Deployment Model: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="deployment-model-other-description">
      <xs:annotation>
         <xs:documentation>
            <b>Deployment Model Description (if Other): </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="service-model">
      <xs:annotation>
         <xs:documentation>
            <b>Service Model: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="service-model-other-description">
      <xs:annotation>
         <xs:documentation>
            <b>Service Model Description Other: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="leveraged-authorizations">
      <xs:annotation>
         <xs:documentation>
            <b>Leveraged Authorizations: </b>All leveraged authorizations for this system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:leveraged-authorization"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="leveraged-authorization">
      <xs:annotation>
         <xs:documentation>
            <b>Leveraged Authorization: </b>The details for a single leveraged authorization</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:leveraged-authorization-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:leveraged-authorization-service-provider"/>
            <xs:element minOccurs="0" ref="oscal-ssp:leveraged-authorization-date-granted"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="leveraged-authorization-name">
      <xs:annotation>
         <xs:documentation>
            <b>Leveraged system Name: </b>Name of the leveraged system.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="leveraged-authorization-service-provider">
      <xs:annotation>
         <xs:documentation>
            <b>Leveraged System Service Provider Name: </b>Name of the service provider that manages the leveraged system.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="leveraged-authorization-date-granted">
      <xs:annotation>
         <xs:documentation>
            <b>Leveraged System Authorization Date: </b>The date the leveraged system received its authorization.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="authorization-boundary">
      <xs:annotation>
         <xs:documentation>
            <b>Authorization Boundary: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:boundary-diagram"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="boundary-diagram">
      <xs:annotation>
         <xs:documentation>
            <b>Boundary Diagram: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:boundary-description"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="attachment-id" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Attachment ID / identifier: </b>Unique attachment identifier.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="boundary-description">
      <xs:annotation>
         <xs:documentation>
            <b>Boundary Description: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="network-architecture">
      <xs:annotation>
         <xs:documentation>
            <b>Network Architecture Diagrams: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:network-diagram"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="network-diagram">
      <xs:annotation>
         <xs:documentation>
            <b>Network Diagram: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:network-description"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="attachment-id" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Attachment ID / identifier: </b>Unique attachment identifier.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="network-description">
      <xs:annotation>
         <xs:documentation>
            <b>Network Description: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="data-flow">
      <xs:annotation>
         <xs:documentation>
            <b>Data Flow: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:data-flow-diagram"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="data-flow-diagram">
      <xs:annotation>
         <xs:documentation>
            <b>Data Flow Diagram: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:data-flow-description"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="attachment-id" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Attachment ID / identifier: </b>Unique attachment identifier.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="data-flow-description">
      <xs:annotation>
         <xs:documentation>
            <b>Data Flow Description: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="users">
      <xs:annotation>
         <xs:documentation>
            <b>Users: </b>Provides all user roles.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:role"/>
            <xs:element minOccurs="0" ref="oscal-ssp:statistics"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="role">
      <xs:annotation>
         <xs:documentation>
            <b>Role: </b>Defining a role to be assigned to a party or agent</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element minOccurs="0" ref="oscal-ssp:short-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:desc"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:privilege"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:responsibility"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Name: </b>Name allows the information to be named.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="external" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  <b>external: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="access" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>access: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="sensitivity-level" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>sensitivity-level: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="privilege">
      <xs:annotation>
         <xs:documentation>
            <b>Privilege: </b>Identifies the type/level of system privilege for the role. 
			For FedRAMP, the only valid values are "p" (Privileged), "np" (Non-Privileged), or "nla" (No Logical Access).</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="responsibility">
      <xs:annotation>
         <xs:documentation>
            <b>Responsibility: </b>Identifies the functions performed by the user role.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="statistics">
      <xs:annotation>
         <xs:documentation>
            <b>Statistics: </b>Provides a collection of statistics about users of the system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:internal-user-total-current"/>
            <xs:element minOccurs="0" ref="oscal-ssp:internal-user-total-future"/>
            <xs:element minOccurs="0" ref="oscal-ssp:external-user-total-current"/>
            <xs:element minOccurs="0" ref="oscal-ssp:external-user-total-future"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="internal-user-total-current">
      <xs:annotation>
         <xs:documentation>
            <b>Total Current Internal Users: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="internal-user-total-future">
      <xs:annotation>
         <xs:documentation>
            <b>Total Future Internal Users: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="external-user-total-current">
      <xs:annotation>
         <xs:documentation>
            <b>Total Current External Users: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="external-user-total-future">
      <xs:annotation>
         <xs:documentation>
            <b>Total Future External Users: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="system-implementation">
      <xs:annotation>
         <xs:documentation>
            <b>System Implementation: </b>Provides information as to how the system is implemented.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:ports-protocols-services"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:interconnection"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:component"/>
            <xs:element minOccurs="0" ref="oscal-ssp:system-inventory"/>
         </xs:sequence>
         <xs:attribute name="interconnected" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  <b>Interconnection status: </b>Are their system interconnections? (Yes/No)</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ports-protocols-services">
      <xs:annotation>
         <xs:documentation>
            <b>Ports, Protocols, and Services: </b>A collection of the ports, protocols, and services used within the
			system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:service"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="service">
      <xs:annotation>
         <xs:documentation>
            <b>Service: </b>A collection of information about an individual service within the
			system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:protocol"/>
            <xs:element minOccurs="0" ref="oscal-ssp:purpose"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:used-by"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Name: </b>Name allows the information to be named.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="protocol">
      <xs:annotation>
         <xs:documentation>
            <b>Protocol: </b>Information about the protocol used to provide a service.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:port-range"/>
         </xs:sequence>
         <xs:attribute name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Name: </b>Name allows the information to be named.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="port-range">
      <xs:annotation>
         <xs:documentation>
            <b>Port Range: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="start" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Start: </b>Indicates the starting port number in a port range.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="end" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>End: </b>Indicates the ending port number in a port range.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="transport" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Transport: </b>Indicates the transport type.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="purpose">
      <xs:annotation>
         <xs:documentation>
            <b>Purpose: </b>Describes the purpose for the service within the system.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-ssp:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="used-by">
      <xs:annotation>
         <xs:documentation>
            <b>Used By: </b>Identifies the types of system component that uses the service. One entry per
		</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="interconnection">
      <xs:annotation>
         <xs:documentation>
            <b>Interconnection: </b>Details on an individual system interconnection.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:external-system-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:external-system-org"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:isa-authorization"/>
            <xs:element minOccurs="0" ref="oscal-ssp:isa-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:isa-date"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="external-system-name">
      <xs:annotation>
         <xs:documentation>
            <b>External System Name: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="external-system-org">
      <xs:annotation>
         <xs:documentation>
            <b>External System Organization: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="isa-authorization">
      <xs:annotation>
         <xs:documentation>
            <b>ISA Authorization: </b>Name of the individual who authorized the Interconnection Security Agreement
			(ISA).</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="isa-name">
      <xs:annotation>
         <xs:documentation>
            <b>ISA Name: </b>Title of the Interconnection Security Agreement (ISA).</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="isa-date">
      <xs:annotation>
         <xs:documentation>
            <b>ISA Date: </b>Date of the Interconnection Security Agreement (ISA).</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="component">
      <xs:annotation>
         <xs:documentation>
            <b>Component: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:origin"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:characteristics"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:satisfaction"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:validation"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:provisioning"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:subcomponent"/>
         </xs:sequence>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="origin">
      <xs:annotation>
         <xs:documentation>
            <b>Origin: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:organization"/>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element minOccurs="0" ref="oscal-ssp:version"/>
            <xs:element minOccurs="0" ref="oscal-ssp:release-date"/>
            <xs:element minOccurs="0" ref="oscal-ssp:model"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:part"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="vendor">
      <xs:annotation>
         <xs:documentation>
            <b>Vendor: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="release-date">
      <xs:annotation>
         <xs:documentation>
            <b>Release Date: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="model">
      <xs:annotation>
         <xs:documentation>
            <b>Model: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="part">
      <xs:annotation>
         <xs:documentation>
            <b>Part: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:email"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="characteristics">
      <xs:annotation>
         <xs:documentation>
            <b>Characteristics: </b>Component characteristics, assets and configuration information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:ip-address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:service"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:part"/>
         </xs:sequence>
         <xs:attribute name="context" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Context: </b>Context designates the context of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ip-address">
      <xs:annotation>
         <xs:documentation>
            <b>Internet Protocol Address: </b>Use the @type flag to deisgnate IPv4 or IPv6.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="satisfaction">
      <xs:annotation>
         <xs:documentation>
            <b>Satisfaction: </b>Describes how the indicated control is satisfied by this
			component</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="context" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Context: </b>Context designates the context of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="system-inventory">
      <xs:annotation>
         <xs:documentation>
            <b>System Inventory: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:inventory-item"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="inventory-item">
      <xs:annotation>
         <xs:documentation>
            <b>Inventory Item: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:ip-address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:dns-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:host-item"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:software-item"/>
            <xs:element minOccurs="0" ref="oscal-ssp:comments"/>
            <xs:element minOccurs="0" ref="oscal-ssp:serial-no"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:network-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:asset-owner"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:asset-administrator"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="component-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Component ID / identifier: </b>ID of a linked or imported component</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="virtual" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  <b>Virtual: </b>Designates an asset as either virtual (="yes") or physical
			(="no").</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="public" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>
                  <b>Public: </b>Designates an asset as either publicly accessible (="yes") or not
			(="no").</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="dns-name">
      <xs:annotation>
         <xs:documentation>
            <b>Network Name: </b>If available, state the DNS name or URL of the inventory item. This can be left
			blank if one does not exist, or it is a dynamic field.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="host-item">
      <xs:annotation>
         <xs:documentation>
            <b>Host Item: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:netbios-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:mac-address"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:authenticated-scan"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:baseline-template"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:os-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:os-version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:location"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:asset-type"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:vendor"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:hardware-model"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:scanned"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:prop"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="netbios-name">
      <xs:annotation>
         <xs:documentation>
            <b>NetBIOS Name: </b>If available, state the NetBIOS name of the inventory item. This can be omitted
			if one does not exist, or it is a dynamic field.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="mac-address">
      <xs:annotation>
         <xs:documentation>
            <b>Media Access Control (MAC) Address: </b>If available, state the MAC Address of the inventory item. This can be left
			blank if one does not exist, or it is a dynamic field.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="os-name">
      <xs:annotation>
         <xs:documentation>
            <b>Operating System Name: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="os-version">
      <xs:annotation>
         <xs:documentation>
            <b>Operating System Version Number: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="location">
      <xs:annotation>
         <xs:documentation>
            <b>Location of the Asset: </b>Physical location of hardware. Could include Data Center ID, Cage#, Rack# or
			other meaningful location identifiers.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="asset-type">
      <xs:annotation>
         <xs:documentation>
            <b>Asset Type: </b>Simple description of the asset's function (e.g., Router, Storage Array, DNS
			Server, etc.) Do not use vendor or product names here.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="hardware-model">
      <xs:annotation>
         <xs:documentation>
            <b>Hardware Model: </b>Model number of the hardware.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="authenticated-scan" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>
            <b>Authenticated Scan: </b>Indicate whether this asset is planned for authenticated
			scanning.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="software-item">
      <xs:annotation>
         <xs:documentation>
            <b>Software Item: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:vendor"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:software-name"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:software-version"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:software-patch-level"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:function"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="software-name">
      <xs:annotation>
         <xs:documentation>
            <b>Software Product Name: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="software-version">
      <xs:annotation>
         <xs:documentation>
            <b>Software Version Number: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="software-patch-level">
      <xs:annotation>
         <xs:documentation>
            <b>Software Patch Level (If applicable): </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="function">
      <xs:annotation>
         <xs:documentation>
            <b>Function: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="comments">
      <xs:annotation>
         <xs:documentation>
            <b>Comments: </b>Any additional information that could be useful to an auditor or
			reviewer.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="serial-no">
      <xs:annotation>
         <xs:documentation>
            <b>Serial Number: </b>Product serial number or internal asset tag number.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="network-id">
      <xs:annotation>
         <xs:documentation>
            <b>Network ID: </b>Virtual LAN or Network ID.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="asset-owner">
      <xs:annotation>
         <xs:documentation>
            <b>Asset Owner: </b>The individual, title, or role who "owns" the asset on behalf of the
			organization.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="poc-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Point of Contact ID / identifier: </b>Identifies the unique identifier for an individual, title, role, or
			team.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="asset-administrator">
      <xs:annotation>
         <xs:documentation>
            <b>Asset Administrator: </b>The individual, title, role, or team responsible for operating and maintaining
			the asset.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="poc-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Point of Contact ID / identifier: </b>Identifies the unique identifier for an individual, title, role, or
			team.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="control-implementation">
      <xs:annotation>
         <xs:documentation>
            <b>Implementation of Security Control: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:control"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control Implementation: </b>Information related to the implementation of an individual
			control.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:responsible-role"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:set-param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:prop"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        ref="oscal-ssp:control-response"/>
         </xs:sequence>
         <xs:attribute name="class" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="control-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Control ID / identifier: </b>Pointer to a control, by its ID</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="responsible-role">
      <xs:annotation>
         <xs:documentation>
            <b>Responsible Role: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="role-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Role ID: </b>In the context of a responsibility element, this points to a role in the users element responsible for this control</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="set-param">
      <xs:annotation>
         <xs:documentation>
            <b>Set Parameter Value: </b>Identifies the parameter that will be filled in by the enclosed value
			element.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:value"/>
         </xs:sequence>
         <xs:attribute name="param-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Parameter ID: </b>Points to a parameter within a control, to which the contained value will be
			assigned.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="target" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Target label: </b>Provides for an indication of a link target, by its label, when no ID is available</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="value">
      <xs:annotation>
         <xs:documentation>
            <b>Value: </b>The phrase or string that fills-in the parameter and completes the requirement
			statement.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="control-response">
      <xs:annotation>
         <xs:documentation>
            <b>Control Response: </b>Describes how a control is implemented.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="stmt-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Statement ID / identifier: </b>Pointer to a speific requirement statement within a control.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="references">
      <xs:annotation>
         <xs:documentation>
            <b>References: </b> A group of reference descriptions </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:ref"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b>Reference: </b> A reference, with one or more citations to standards, related documents, or
			other resources </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:citation"/>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="ref-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Reference Type: </b>Identifies the reference type, such as a law, standard, guidance.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b>Citation: </b>Citation of a resource</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-ssp:everything-inline"/>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link: </b> A line or paragraph with a hypertext link </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-ssp:everything-inline"/>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="attachment">
      <xs:annotation>
         <xs:documentation>
            <b>Attachments: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element minOccurs="0" ref="oscal-ssp:description"/>
            <xs:element minOccurs="0" ref="oscal-ssp:format"/>
            <xs:element minOccurs="0" ref="oscal-ssp:date"/>
            <xs:element minOccurs="0" ref="oscal-ssp:version"/>
            <xs:element minOccurs="0" ref="oscal-ssp:attachment-type"/>
            <xs:element minOccurs="0" ref="oscal-ssp:base64"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="format">
      <xs:annotation>
         <xs:documentation>
            <b>Attachment Format: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="date">
      <xs:annotation>
         <xs:documentation>
            <b>Date: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="attachment-type">
      <xs:annotation>
         <xs:documentation>
            <b>Date: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="base64">
      <xs:annotation>
         <xs:documentation>
            <b>Date: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="filename" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>File Name: </b>Name of the file before it was converted to Base-64. This is the name that will be assigned to the file when converted back to binary.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="validation">
      <xs:annotation>
         <xs:documentation>
            <b>validation: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="provisioning">
      <xs:annotation>
         <xs:documentation>
            <b>provisioning: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcomponent">
      <xs:annotation>
         <xs:documentation>
            <b>sub-component: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="organization">
      <xs:annotation>
         <xs:documentation>
            <b>organization: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="baseline-template">
      <xs:annotation>
         <xs:documentation>
            <b>baseline-template: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="scanned">
      <xs:annotation>
         <xs:documentation>
            <b>scanned: </b>.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="metadata">
      <xs:annotation>
         <xs:documentation>
            <b>Publication metadata: </b>Information describing the publication or availability of this document</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-ssp:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:author"/>
            <xs:element minOccurs="0" ref="oscal-ssp:publication-date"/>
            <xs:element minOccurs="0" ref="oscal-ssp:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:hlink"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:resource"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:role"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:party"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
            <xs:element minOccurs="0" ref="oscal-ssp:extra-meta"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title: </b>The title under which this document is formally published</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="author">
      <xs:annotation>
         <xs:documentation>
            <b>Author: </b>A named author</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="publication-date">
      <xs:annotation>
         <xs:documentation>
            <b>Publication date: </b>The official date of publication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="version">
      <xs:annotation>
         <xs:documentation>
            <b>version: </b>Version information</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:date">
            <xs:annotation>
               <xs:documentation>
                  <b>ISO (standard) date: </b>Please use YYYY-MM-DD syntax.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="doc-id">
      <xs:annotation>
         <xs:documentation>
            <b>Document Identifier: </b>Any sort of document identifier, name, code, path or other indicator of where and how this document
      may be located, compared or validated. Given appropriate qualification via its type and rel, this value may point to the same or another version of the document.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property: </b>A property associated with the document</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="class" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="party">
      <xs:annotation>
         <xs:documentation>
            <b>Party (organization or person): </b>A responsible entity, either singular (an organization or person) or collective (multiple persons)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:person"/>
            <xs:element minOccurs="0" ref="oscal-ssp:org"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>Component identification number.: </b>.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="role-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Role ID: </b>In the context of a responsibility element, this points to a role in the users element responsible for this control</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person">
      <xs:annotation>
         <xs:documentation>
            <b>Person: </b>A person, with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:person-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:short-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:org-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:person-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:org-id"/>
            <xs:element minOccurs="0" ref="oscal-ssp:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:url"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="org">
      <xs:annotation>
         <xs:documentation>
            <b>Organization: </b>An organization or legal entity (not a person), with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:org-name"/>
            <xs:element minOccurs="0" ref="oscal-ssp:short-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:org-id"/>
            <xs:element minOccurs="0" ref="oscal-ssp:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:url"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-id">
      <xs:annotation>
         <xs:documentation>
            <b>Personal Identifier: </b>An identifier for a person (such as an ORCID) using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="org-id">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Identifier: </b>An identifier for an organization using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="hlink">
      <xs:annotation>
         <xs:documentation>
            <b>Hashed link: </b>A pointer to an external document with optional hash for verification</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:hash"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-name">
      <xs:annotation>
         <xs:documentation>
            <b>Person Name: </b>Full (legal) name of an individual</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="org-name">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Name: </b>Full (legal) name of an organization</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="short-name">
      <xs:annotation>
         <xs:documentation>
            <b>short-name: </b>A common name, short name or acronym</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="address">
      <xs:annotation>
         <xs:documentation>
            <b>Address: </b>A postal address</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:addr-line"/>
            <xs:element minOccurs="0" ref="oscal-ssp:city"/>
            <xs:element minOccurs="0" ref="oscal-ssp:state"/>
            <xs:element minOccurs="0" ref="oscal-ssp:postal-code"/>
            <xs:element minOccurs="0" ref="oscal-ssp:country"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="addr-line">
      <xs:annotation>
         <xs:documentation>
            <b>Address line: </b>A single line of an address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="city">
      <xs:annotation>
         <xs:documentation>
            <b>City: </b>City, town or geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="state">
      <xs:annotation>
         <xs:documentation>
            <b>State: </b>State, province or analogous geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="postal-code">
      <xs:annotation>
         <xs:documentation>
            <b>Postal Code: </b>Postal or ZIP code for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="country">
      <xs:annotation>
         <xs:documentation>
            <b>Country: </b>Country for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="email">
      <xs:annotation>
         <xs:documentation>
            <b>Email: </b>Email address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="phone">
      <xs:annotation>
         <xs:documentation>
            <b>Telephone: </b>Contact number by telephone</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="url">
      <xs:annotation>
         <xs:documentation>
            <b>URL: </b>URL for web site or Internet presence</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="notes">
      <xs:annotation>
         <xs:documentation>
            <b>Notes: </b>Any notes with further information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-ssp:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Description: </b>A short description</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="resource">
      <xs:annotation>
         <xs:documentation>
            <b>Resource: </b>A resource to inform or authenticate the present document.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:author"/>
            <xs:element minOccurs="0" ref="oscal-ssp:publication-date"/>
            <xs:element minOccurs="0" ref="oscal-ssp:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:hlink"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="hash">
      <xs:annotation>
         <xs:documentation>
            <b>Hash: </b>A document hash or other value subject to cryptographic authentication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="algorithm" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Hash algorithm: </b>Method by which a hash is derived</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="extra-meta">
      <xs:annotation>
         <xs:documentation>
            <b>Extra metadata: </b>Container for (system-defined) metadata</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:meta-group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:meta"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta-group">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata group: </b>Custom- or application-defined annotated metadata.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:meta"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:meta-group"/>
            <xs:element minOccurs="0" ref="oscal-ssp:notes"/>
         </xs:sequence>
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata field value: </b>Any customized or specialized metadata value.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Type designates the type of information provided.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="import">
      <xs:annotation>
         <xs:documentation>
            <b>Import resource: </b>Makes information from an external component file available to this component
			file.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-ssp:include"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="include">
      <xs:annotation>
         <xs:documentation>
            <b>Include controls: </b>Specifies which controls and subcontrols to include from the resource (source catalog) being
			imported</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-ssp:all"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-ssp:call"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="all">
      <xs:annotation>
         <xs:documentation>
            <b>Include all: </b>Include all controls from the imported resource (catalog)</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="with-subcontrols" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Include subcontrols with control: </b>Whether subcontrols should be implicitly included, if not called.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="call">
      <xs:annotation>
         <xs:documentation>
            <b>Call: </b>The call element imports the component definition identified by the
			@component-id attribute in the external component file.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="component-id" type="xs:NMTOKEN">
            <xs:annotation>
               <xs:documentation>
                  <b>Component ID / identifier: </b>ID of a linked or imported component</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:choice>
         <xs:element ref="oscal-prose:h1"/>
         <xs:element ref="oscal-prose:h2"/>
         <xs:element ref="oscal-prose:h3"/>
         <xs:element ref="oscal-prose:h4"/>
         <xs:element ref="oscal-prose:h5"/>
         <xs:element ref="oscal-prose:h6"/>
         <xs:element ref="oscal-prose:p"/>
         <xs:element ref="oscal-prose:ul"/>
         <xs:element ref="oscal-prose:ol"/>
         <xs:element ref="oscal-prose:pre"/>
         <xs:element ref="oscal-prose:table"/>
      </xs:choice>
   </xs:group>
   <xs:element name="h1">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h2">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h3">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h4">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h5">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h6">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:everything-inline"/>
            <xs:element ref="oscal-prose:ol"/>
            <xs:element ref="oscal-prose:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="table">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:tr"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tr">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element maxOccurs="unbounded" ref="oscal-prose:td"/>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:th"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="th">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="td">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="everything-inline">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:group ref="oscal-prose:special"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal-prose:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
            <xs:element ref="oscal-prose:img"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:mix"/>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="img">
      <xs:complexType>
         <xs:attribute name="alt"/>
         <xs:attribute name="src" use="required" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element name="em">
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal-prose:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="special">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:insert"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:complexType>
         <xs:attribute name="param-id" use="required" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="requiredClass">
      <xs:attribute name="class" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="optionalClass">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
