xml/schema/oscal-catalog-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal-catalog="http://csrc.nist.gov/ns/oscal/1.0"
           xmlns:oscal-prose="http://csrc.nist.gov/ns/oscal/1.0"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/oscal/1.0"><!--OSCAL Control Catalog Format--><!--short name: oscal-catalog--><!--The OSCAL Control Catalog format can be used to describe a collection of security controls and related control enhancements (subcontrols), along with contextualizing documentation and metadata. The root of the Control Catalog format is catalog.--><!--An XML Schema is provided for the OSCAL Catalog XML model.-->
   <xs:element name="metadata">
      <xs:annotation>
         <xs:documentation>
            <b>Publication metadata: </b>Information describing the publication or availability of this document</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:author"/>
            <xs:element minOccurs="0" ref="oscal-catalog:publication-date"/>
            <xs:element minOccurs="0" ref="oscal-catalog:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:resource"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:role"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:party"/>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
            <xs:element minOccurs="0" ref="oscal-catalog:extra-meta"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="publication-date">
      <xs:annotation>
         <xs:documentation>
            <b>Publication date: </b>The official date of publication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="party">
      <xs:annotation>
         <xs:documentation>
            <b>Party (organization or person): </b>A responsible entity, either singular (an organization or person) or collective (multiple persons)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:person"/>
            <xs:element minOccurs="0" ref="oscal-catalog:org"/>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="role-id" type="xs:IDREFS">
            <xs:annotation>
               <xs:documentation>
                  <b>Role identifier: </b>References a role element defined in metadata.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person">
      <xs:annotation>
         <xs:documentation>
            <b>Person: </b>A person, with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:person-name"/>
            <xs:element minOccurs="0" ref="oscal-catalog:short-name"/>
            <xs:element minOccurs="0" ref="oscal-catalog:org-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:person-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:org-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:url"/>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="org">
      <xs:annotation>
         <xs:documentation>
            <b>Organization: </b>An organization or legal entity (not a person), with contact information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:org-name"/>
            <xs:element minOccurs="0" ref="oscal-catalog:short-name"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:org-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:address"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:email"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:phone"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:url"/>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-id">
      <xs:annotation>
         <xs:documentation>
            <b>Personal Identifier: </b>An identifier for a person (such as an ORCID) using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="org-id">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Identifier: </b>An identifier for an organization using a designated scheme.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="person-name">
      <xs:annotation>
         <xs:documentation>
            <b>Person Name: </b>Full (legal) name of an individual</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="org-name">
      <xs:annotation>
         <xs:documentation>
            <b>Organization Name: </b>Full (legal) name of an organization</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="short-name">
      <xs:annotation>
         <xs:documentation>
            <b>short-name: </b>A common name, short name or acronym</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="address">
      <xs:annotation>
         <xs:documentation>
            <b>Address: </b>A postal address</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:addr-line"/>
            <xs:element minOccurs="0" ref="oscal-catalog:city"/>
            <xs:element minOccurs="0" ref="oscal-catalog:state"/>
            <xs:element minOccurs="0" ref="oscal-catalog:postal-code"/>
            <xs:element minOccurs="0" ref="oscal-catalog:country"/>
         </xs:sequence>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="addr-line">
      <xs:annotation>
         <xs:documentation>
            <b>Address line: </b>A single line of an address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="city">
      <xs:annotation>
         <xs:documentation>
            <b>City: </b>City, town or geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="state">
      <xs:annotation>
         <xs:documentation>
            <b>State: </b>State, province or analogous geographical region for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="postal-code">
      <xs:annotation>
         <xs:documentation>
            <b>Postal Code: </b>Postal or ZIP code for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="country">
      <xs:annotation>
         <xs:documentation>
            <b>Country: </b>Country for mailing address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="email">
      <xs:annotation>
         <xs:documentation>
            <b>Email: </b>Email address</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="phone">
      <xs:annotation>
         <xs:documentation>
            <b>Telephone: </b>Contact number by telephone</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="url">
      <xs:annotation>
         <xs:documentation>
            <b>URL: </b>URL for web site or Internet presence</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="role">
      <xs:annotation>
         <xs:documentation>
            <b>Role: </b>Defining a role to be assigned to a party or agent</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:title"/>
            <xs:element minOccurs="0" ref="oscal-catalog:short-name"/>
            <xs:element minOccurs="0" ref="oscal-catalog:desc"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="extra-meta">
      <xs:annotation>
         <xs:documentation>
            <b>Extra metadata: </b>Container for (system-defined) metadata</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:meta-group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:meta"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta-group">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata group: </b>Custom- or application-defined annotated metadata.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:meta"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:meta-group"/>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="meta">
      <xs:annotation>
         <xs:documentation>
            <b>Metadata field value: </b>Any customized or specialized metadata value.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="term" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Metadata term: </b>A classification (according to any schema or taxonomy) of a metadata value or set of values.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="resource">
      <xs:annotation>
         <xs:documentation>
            <b>Resource: </b>A resource to inform or authenticate the present document, or to supplement it as an attachment</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:author"/>
            <xs:element minOccurs="0" ref="oscal-catalog:format"/>
            <xs:element minOccurs="0" ref="oscal-catalog:description"/>
            <xs:element minOccurs="0" ref="oscal-catalog:date"/>
            <xs:element minOccurs="0" ref="oscal-catalog:version"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:doc-id"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:hlink"/>
               <xs:element minOccurs="0" ref="oscal-catalog:base64"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-catalog:notes"/>
         </xs:sequence>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="author">
      <xs:annotation>
         <xs:documentation>
            <b>Author: </b>A named author</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="doc-id">
      <xs:annotation>
         <xs:documentation>
            <b>Document Identifier: </b>Any sort of document identifier, name, code, path or other indicator of where and how this document
			may be located, compared or validated. Given appropriate qualification via its type and rel, this value may point to the same or another version of the document.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Type: </b>Indicating the type of identifier or other data item.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="notes">
      <xs:annotation>
         <xs:documentation>
            <b>Notes: </b>Any notes with further information</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="hlink">
      <xs:annotation>
         <xs:documentation>
            <b>Hashed link: </b>A pointer to an external document with optional hash for verification</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:hash"/>
         </xs:sequence>
         <xs:attribute name="href" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="media-type" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Media type: </b>Describes the media or MIME type of a linked resource</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="hash">
      <xs:annotation>
         <xs:documentation>
            <b>Hash: </b>A document hash or other value subject to cryptographic authentication</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="algorithm" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Hash algorithm: </b>Method by which a hash is derived</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="description">
      <xs:annotation>
         <xs:documentation>
            <b>Description: </b>A free-text description of the system.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="version">
      <xs:annotation>
         <xs:documentation>
            <b>version: </b>Version information</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:date">
            <xs:annotation>
               <xs:documentation>
                  <b>ISO (standard) date: </b>Please use YYYY-MM-DD syntax.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="format">
      <xs:annotation>
         <xs:documentation>
            <b>Resource or attachment Format: </b>For use when no mime-type is available or additional information is required.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="date">
      <xs:annotation>
         <xs:documentation>
            <b>Date: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="iso-date" type="xs:date">
            <xs:annotation>
               <xs:documentation>
                  <b>ISO (standard) date: </b>Please use YYYY-MM-DD syntax.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="base64">
      <xs:annotation>
         <xs:documentation>
            <b>Date: </b>
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="filename" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>File Name: </b>Name of the file before it was converted to Base-64. This is the name that will be assigned to the file when converted back to binary.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref-list">
      <xs:annotation>
         <xs:documentation>
            <b>Reference: </b>A list of references to external resources. This object may be nested
			for reference lists composed of reference lists.
		</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:title"/>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:ref"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:annotation>
         <xs:documentation>
            <b>Reference: </b> A reference, with one or more citations to standards, related documents, or
			other resources </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:citation"/>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:annotation>
         <xs:documentation>
            <b>Citation: </b>Citation of a resource</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:annotation>
         <xs:documentation>
            <b>Link: </b>
			A line or paragraph with a hypertext link
		</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
         <xs:attribute name="href" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Hypertext reference: </b>A relative or absolute URI indicating a resource available on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="rel" type="xs:NCName">
            <xs:annotation>
               <xs:documentation>
                  <b>Relation: </b>Purpose of the link</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="catalog">
      <xs:annotation>
         <xs:documentation>
            <b>Catalog: </b>A collection of controls</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:metadata"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:section"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:control"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-catalog:back"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="model-version" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Model version: </b>Declares a major/minor version for this metaschema</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="back">
      <xs:annotation>
         <xs:documentation>
            <b>Assets: </b>References, resources and attachments</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:ref-list"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:resource"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="section">
      <xs:annotation>
         <xs:documentation>
            <b>Section: </b>Allows the inclusion of prose content within a Catalog.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:title"/>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:section"/>
            <xs:element minOccurs="0" ref="oscal-catalog:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            <b>Control Group: </b>A group of controls, or of groups of controls.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:part"/>
            <xs:choice>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:group"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:control"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal-catalog:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control: </b>A structured information object representing a security or privacy control. Each security or privacy control within the Catalog is defined by a distinct control instance.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:subcontrol"/>
            <xs:element minOccurs="0" ref="oscal-catalog:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcontrol">
      <xs:annotation>
         <xs:documentation>
            <b>Sub-Control: </b>A control extension or enhancement</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:param"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:link"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:part"/>
            <xs:element minOccurs="0" ref="oscal-catalog:ref-list"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>
            <b>Title: </b>A title for display and navigation, exclusive of more specific properties</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property: </b>A value with a name, attributed to the containing control, subcontrol, part,
          or group.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter: </b>Parameters provide a mechanism for the dynamic assignment of value(s) in a control.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:label"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:desc"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:constraint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:guideline"/>
            <xs:choice>
               <xs:element minOccurs="0" ref="oscal-catalog:value"/>
               <xs:element minOccurs="0" ref="oscal-catalog:select"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:link"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="depends-on" type="xs:IDREF">
            <xs:annotation>
               <xs:documentation>
                  <b>Depends on: </b>Another parameter invoking this one</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="label">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter label: </b>A placeholder for a missing value, in display.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="desc">
      <xs:annotation>
         <xs:documentation>
            <b>Parameter description: </b>Indicates and explains the purpose and use of a parameter</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="constraint">
      <xs:annotation>
         <xs:documentation>
            <b>Constraint: </b>A formal or informal expression of a constraint or test</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:attribute name="test" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Constraint test: </b>A formal (executable) expression of a constraint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="guideline">
      <xs:annotation>
         <xs:documentation>
            <b>Guideline: </b>A prose statement that provides a recommendation for the use of a parameter.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="value">
      <xs:annotation>
         <xs:documentation>
            <b>Value constraint: </b>Indicates a permissible value for a parameter or property</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select">
      <xs:annotation>
         <xs:documentation>
            <b>Selection: </b>Presenting a choice among alternatives</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:choice"/>
         </xs:sequence>
         <xs:attribute name="how-many" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <b>Cardinality: </b>When selecting, a requirement such as one or more</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice">
      <xs:annotation>
         <xs:documentation>
            <b>Choice: </b>A value selection among several such options</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal-catalog:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="part">
      <xs:annotation>
         <xs:documentation>
            <b>Part: </b>A partition or component of a control, subcontrol or part</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal-catalog:title"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:prop"/>
            <xs:group ref="oscal-catalog:prose" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="oscal-catalog:link"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
               <xs:documentation>
                  <b>ID / identifier: </b>Unique identifier</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="class" type="xs:NMTOKENS">
            <xs:annotation>
               <xs:documentation>
                  <b>Class: </b>Identifies the property or object within the control; a semantic hint</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:group name="prose">
      <xs:choice>
         <xs:element ref="oscal-prose:h1"/>
         <xs:element ref="oscal-prose:h2"/>
         <xs:element ref="oscal-prose:h3"/>
         <xs:element ref="oscal-prose:h4"/>
         <xs:element ref="oscal-prose:h5"/>
         <xs:element ref="oscal-prose:h6"/>
         <xs:element ref="oscal-prose:p"/>
         <xs:element ref="oscal-prose:ul"/>
         <xs:element ref="oscal-prose:ol"/>
         <xs:element ref="oscal-prose:pre"/>
         <xs:element ref="oscal-prose:table"/>
      </xs:choice>
   </xs:group>
   <xs:element name="h1">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h2">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h3">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h4">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h5">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h6">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:everything-inline"/>
            <xs:element ref="oscal-prose:ol"/>
            <xs:element ref="oscal-prose:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="table">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:tr"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tr">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element maxOccurs="unbounded" ref="oscal-prose:td"/>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:th"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="th">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="td">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="everything-inline">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:group ref="oscal-prose:special"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal-prose:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
            <xs:element ref="oscal-prose:img"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:mix"/>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="img">
      <xs:complexType>
         <xs:attribute name="alt"/>
         <xs:attribute name="src" use="required" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element name="em">
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal-prose:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="special">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:insert"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:complexType>
         <xs:attribute name="param-id" use="required" type="xs:IDREF"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="requiredClass">
      <xs:attribute name="class" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="optionalClass">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
