draft/working/lib/XSD/oscal-documented.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:oscal="http://scap.nist.gov/schema/oscal"
           elementFormDefault="qualified"
           targetNamespace="http://scap.nist.gov/schema/oscal">
   <xs:complexType name="collection-contents">
      <xs:sequence>
         <xs:element ref="oscal:title"/>
         <xs:element minOccurs="0" ref="oscal:declarations"/>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:div"/>
         <xs:choice>
            <xs:element maxOccurs="unbounded" ref="oscal:group"/>
            <xs:element maxOccurs="unbounded" ref="oscal:control"/>
         </xs:choice>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:div"/>
         <xs:element minOccurs="0" ref="oscal:references"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="catalog" type="oscal:collection-contents"/>
   <xs:element name="collection" type="oscal:collection-contents"/>
   <xs:element name="declarations">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="oscal:decls">
               <xs:attributeGroup ref="oscal:hrefAttr"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="decls">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="oscal:parameter"/>
         <xs:element ref="oscal:property"/>
         <xs:element ref="oscal:statement"/>
         <xs:element ref="oscal:feature"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="parameter">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:choice"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:nameAttr"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="singleton">
      <xs:complexType/>
   </xs:element>
   <xs:element name="property">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
            <xs:element minOccurs="0" ref="oscal:identifier"/>
            <xs:choice>
               <xs:element ref="oscal:regex"/>
               <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:value"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:nameAttr"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="identifier">
      <xs:complexType/>
   </xs:element>
   <xs:element name="regex" type="xs:string"/>
   <xs:element name="value">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:inherit"/>
            <xs:element ref="oscal:autonum"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="inherit">
      <xs:complexType mixed="true">
         <xs:attribute name="from"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="autonum" type="xs:string"/>
   <xs:element name="statement">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:nameAttr"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="required">
      <xs:complexType/>
   </xs:element>
   <xs:element name="feature">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:singleton"/>
            <xs:element minOccurs="0" ref="oscal:required"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:nameAttr"/>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="group">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:prop"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:anyKindofStatement"/>
            <xs:choice>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="oscal:group"/>
                  <xs:element ref="oscal:div"/>
               </xs:choice>
               <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:control"/>
               <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:subcontrol"/>
               <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:feat"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="div">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal:title"/>
            <xs:group ref="oscal:prose"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:div"/>
               <xs:element ref="oscal:group"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="control">
      <xs:annotation>
         <xs:documentation>
            <b>Control</b> A structured information object representing a security control.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:prop"/>
               <xs:element ref="oscal:anyKindofStatement"/>
               <xs:element ref="oscal:group"/>
               <xs:element ref="oscal:subcontrol"/>
               <xs:element ref="oscal:feat"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="oscal:references"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="subcontrol">
      <xs:annotation>
         <xs:documentation>
            <b>Control enhancement</b> A control enhancement: within a control, a control object appearing as a component.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:prop"/>
               <xs:element ref="oscal:anyKindofStatement"/>
               <xs:element ref="oscal:group"/>
               <xs:element ref="oscal:feat"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="feat">
      <xs:annotation>
         <xs:documentation>
            <b>Feature</b> A control extension: a fragment or semi-independent block of controlled information
          within a control and dependant on it.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="oscal:link"/>
               <xs:element ref="oscal:param"/>
               <xs:element ref="oscal:prop"/>
               <xs:element ref="oscal:anyKindofStatement"/>
               <xs:element ref="oscal:group"/>
               <xs:element ref="oscal:feat"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:q"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="link">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:relAttr"/>
         <xs:attributeGroup ref="oscal:hrefAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="param">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:nameAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="prop">
      <xs:annotation>
         <xs:documentation>
            <b>Property</b> A value with a name, as assigned to a control or set of controls.</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="oscal:whatnot"/>
         <xs:attributeGroup ref="oscal:nameAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="anyKindofStatement" abstract="true">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="oscal:prose"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:link"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:nameAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="stmt" substitutionGroup="oscal:anyKindofStatement">
      <xs:annotation>
         <xs:documentation>
            <b>Statement</b> A block of prose; a claim, assertion, description, accounting or specification applicable
          to a control, control component, or set of controls.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:group name="prose">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:ul"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:p"/>
            <xs:element ref="oscal:pre"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="references">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:ref"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ref">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:std"/>
            <xs:element ref="oscal:citation"/>
            <xs:group ref="oscal:prose"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="std">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="citation">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attribute name="href" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:whatnot"/>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:idAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal:whatnot"/>
            <xs:element ref="oscal:ol"/>
            <xs:element ref="oscal:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal:idAttr"/>
         <xs:attributeGroup ref="oscal:typeAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:group name="whatnot">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:semantical"/>
            <xs:group ref="oscal:mix"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="inlines" abstract="true"/>
   <xs:element name="em" substitutionGroup="oscal:inlines">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i" substitutionGroup="oscal:inlines">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b" substitutionGroup="oscal:inlines">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="xref" substitutionGroup="oscal:inlines">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:q"/>
            <xs:element ref="oscal:code"/>
            <xs:element name="em" type="xs:string"/>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="q" substitutionGroup="oscal:inlines" type="xs:string"/>
   <xs:element name="code" substitutionGroup="oscal:inlines">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attribute name="type"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="semantical" abstract="true"/>
   <xs:element name="withdrawn" substitutionGroup="oscal:semantical">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:inlines"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="assign" substitutionGroup="oscal:semantical">
      <xs:complexType mixed="true">
         <xs:group ref="oscal:mix"/>
         <xs:attributeGroup ref="oscal:paramAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="select" substitutionGroup="oscal:semantical">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:choice"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:paramAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="choice">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal:assign"/>
            <xs:group ref="oscal:mix"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="idAttr">
      <xs:attribute name="id" type="xs:ID"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="nameAttr">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="typeAttr">
      <xs:attribute name="class"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="contextAttr">
      <xs:attribute name="context" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="paramAttr">
      <xs:attribute name="use"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="relAttr">
      <xs:attribute name="rel"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
   <xs:element name="profile">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:invoke"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="oscal:mod"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="invoke">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="oscal:include"/>
            <xs:element minOccurs="0" ref="oscal:exclude"/>
         </xs:sequence>
         <xs:attributeGroup ref="oscal:hrefAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="include">
      <xs:complexType>
         <xs:choice>
            <xs:element ref="oscal:all"/>
            <xs:choice maxOccurs="unbounded">
               <xs:element ref="oscal:call"/>
               <xs:element ref="oscal:filter"/>
            </xs:choice>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="exclude">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal:call"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="mod">
      <xs:complexType>
         <xs:attributeGroup ref="oscal:contextAttr"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="all">
      <xs:complexType/>
   </xs:element>
   <xs:element name="call">
      <xs:complexType mixed="true">
         <xs:attribute name="key" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="filter">
      <xs:complexType mixed="true">
         <xs:attribute name="key" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
