sources/800-53/sp800-53_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns="http://scap.nist.gov/schema/sp800-53/1.0"
    xmlns:scap-core="http://scap.nist.gov/schema/scap-core/0.1"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://scap.nist.gov/schema/sp800-53/1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="https://www.w3.org/2009/01/xml.xsd">
        <xsd:annotation>
            <xsd:documentation>Import general XML schema.</xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="https://scap.nist.gov/schema/xhtml/2010/xhtml11.xsd">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-US">A simplified XHTML 1.1 modular schema driver that implements structural markup for embedding in XML data models.</xsd:documentation>
        </xsd:annotation>
    </xsd:import>

	<xsd:import namespace="http://scap.nist.gov/schema/scap-core/0.1" schemaLocation="https://scap.nist.gov/schema/nvd/scap-core_0.1.xsd">
        <xsd:annotation>
            <xsd:documentation>Import general SCAP schema.</xsd:documentation>
        </xsd:annotation>   
    </xsd:import>
	
    <!-- ================================================== -->
    <!-- =====  Element Declarations  -->
    <!-- ================================================== -->
    <xsd:element name="control" type="controlType"/>
    <xsd:element name="objectives">
        <xsd:annotation>
            <xsd:documentation>The 800-53A objectives for an 800-53 control or control enhancement.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="objective">
                    <xsd:annotation>
                        <xsd:documentation>An 800-53A objective.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="decisions">
                                <xsd:annotation>
                                    <xsd:documentation>The decisions associated with the 800-53A objective.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="decision" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:documentation>A decision associated with the 800-53A objective.  The body of the element contains the description of the decision, encoded as HTML.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:complexContent>
                                                  <xsd:extension base="xhtml:xhtml.body.type">
                                                  <xsd:attribute name="name" type="xsd:token"
                                                  use="required">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The name of the decision.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:attribute>
                                                  <xsd:attribute name="sequence" type="xsd:int"
                                                  use="required"/>
                                                  </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="potential-assessments">
                                <xsd:annotation>
                                    <xsd:documentation>The potential assessments associated with the 800-53A objective.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="potential-assessment"
                                            maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:documentation>A potential assessment associated with the 800-53A objective.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="object"
                                                  type="xsd:normalizedString" maxOccurs="unbounded">
                                                  <xsd:annotation>
                                                  <xsd:documentation>An object for this potential assessment.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="method" use="required">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The method of the potential assessment.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:simpleType>
                                                  <xsd:restriction base="xsd:token">
                                                  <xsd:enumeration value="EXAMINE"/>
                                                  <xsd:enumeration value="INTERVIEW"/>
                                                  <xsd:enumeration value="TEST"/>
                                                  </xsd:restriction>
                                                  </xsd:simpleType>
                                                </xsd:attribute>
                                                <xsd:attribute name="sequence" type="xsd:int"
                                                  use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:token" use="required">
                            <xsd:annotation>
                                <xsd:documentation>The name of the 800-53A objective.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="sequence" type="xsd:int" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Control Type                                      -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:complexType name="controlType">
        <xsd:annotation>
            <xsd:documentation>Defines a security control as specified in NIST Special Publication SP800-53.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="control-class" type="xsd:token" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The most general classification of SP800-53 controls.  
                        Currently there are three control classes, Management, Technical, Operational</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="family" type="xsd:token" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Grouping of controls within a control class based on dominant characterstics of controls in that family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:token" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the control, consists of a two-character family identifier plus the control number within the family.
                    For example, CP-9 is the ninth control in the Contingency Planning (CP) family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="title" type="xsd:token" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The title of the control.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priority" type="priorityType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Recommended priority code used for sequencing decisions during security control implementation
                        as described in Appendix D of SP800-53.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="baseline-impact" type="impactType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Allocates controls across low-impact, moderate-impact, and high-impact systems
                        as described in Appendix F of SP800-53.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xhtml:xhtml.body.type" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The body of the control, also known as the control section, provides a concise statement of the specific security capabilities needed to protect a particular aspect of an information system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="supplemental-guidance" type="xhtml:xhtml.body.type" minOccurs="0"
                maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Provides additional information related to a specific security
                        control, but contains no requirements.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="control-enhancements" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="control-enhancement" type="controlEnhancementType"
                            maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Provides statements of security capability to build
                        in additional functionality and/or increase the strength of a control as defined
                        by NIST SP 800-70.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="objectives"/>
            <xsd:element name="references" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="unbounded" name="reference" type="scap-core:referenceType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="relationships" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="unbounded" name="relationship" type="relationshipType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="status" type="statusType" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates when a control has been withdrawn.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Status                                            -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:simpleType name="statusType">
        <xsd:annotation>
            <xsd:documentation>Indicates when a control has been withdrawn.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="WITHDRAWN"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Impact                                            -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:simpleType name="impactType">
        <xsd:annotation>
            <xsd:documentation>Distinguishes between low-impact, moderate-impact, and high-impact systems.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="LOW"/>
            <xsd:enumeration value="MODERATE"/>
            <xsd:enumeration value="HIGH"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Priority                                          -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:simpleType name="priorityType">
        <xsd:annotation>
            <xsd:documentation>Priority of controls useful in sequencing decisions.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="P0"/>
            <xsd:enumeration value="P1"/>
            <xsd:enumeration value="P2"/>
            <xsd:enumeration value="P3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Paragraphs Type                                   -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:simpleType name="paragraphsType">
        <xsd:annotation>
            <xsd:documentation>A schema element that typically spans multiple sentences and paragraphs.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="5000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Checklist Metadata Base Type                      -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <xsd:complexType name="controlEnhancementType">
        <xsd:annotation>
            <xsd:documentation>Provides statements of security capability to build
                in additional functionality and/or increase the strength of a control as defined
                by NIST SP 800-70.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="baseline-impact" type="impactType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xhtml:xhtml.body.type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="supplemental-guidance" type="xhtml:xhtml.body.type" minOccurs="0"
                maxOccurs="1"/>
            <xsd:element minOccurs="0" ref="objectives"/>
        </xsd:sequence>
        <xsd:attribute name="sequence" type="xsd:int" use="required"/>
    </xsd:complexType>
    
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Relationship Type                                 -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
	<xsd:complexType name="relationshipType">
	    <xsd:annotation>
	        <xsd:documentation xml:lang="en-US">A schema element that maps the control's relationships to other controls</xsd:documentation>
	    </xsd:annotation>
	 <xsd:attribute name="type" type="xsd:token" use="required"/>
	 <xsd:attribute name="control" type="xsd:token" use="required"/>
	</xsd:complexType>
</xsd:schema>
