working/lib/oscal-profile-working.rnc

default namespace = "http://scap.nist.gov/schema/oscal"

include "oscal-working.rnc" {
  start = profile }

profile = element profile { invoke+, mod* }

invoke = element invoke { hrefAttr, (\include?, exclude?) }

\include = element include { (all | (call | filter)+ ) }

# 'all' or 'filter' make sense for inclusions but not exclusions
exclude = element exclude { call+ }

mod = element mod { contextAttr }

all = element all { empty }

call = element call { attribute key { text }, text }
filter = element filter { attribute key { text }, text }
